<div class="container" *ngIf="profiles && profiles.length && wallets && categories && transactions">
  <div class="row mb-4">

    <!-- Left -->
    <div class="col-xl-8">

      <!-- Wallets -->
      <div class="card bg-light mt-4">
        <div class="card-header font-weight-bold">My Wallets</div>
        <div class="card-body oy-scroll pt-0 pb-3" [style.height]="120 + 'px'">
          <app-wallet-list *ngIf="wallets && profiles" [wallets]="wallets"></app-wallet-list>
        </div>
      </div>

      <!-- Categories -->
      <div class="card bg-light mt-4">
        <div class="card-header font-weight-bold">
          <span>My Categories</span>
          <!-- Create button -->
          <div class="btn btn-primary ml-auto" (click)="addCategory()">Create</div>
        </div>
        <div class="card-body oy-scroll pt-0 pb-3" [style.height]="205 + 'px'">
          <app-category-list [categories]="categories" [hideWithoutTransactions]="true"></app-category-list>
        </div>
      </div>

      <!-- Transactions Overview + Categories Overview -->
      <div class="row">

        <!-- Transactions overview -->
        <div class="col-lg-6" *ngIf="balanceChartResults">
          <div class="card bg-light mt-4">
            <div class="card-header font-weight-bold">Transactions Overview</div>
            <div class="card-body chart-wrapper p-0">
              <ngx-charts-pie-chart [results]="balanceChartResults"
                                    [customColors]="balanceChartColors"
                                    [doughnut]="true"
                                    [arcWidth]="0.25"
                                    [labels]="true">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

        <!-- Categories overview -->
        <div class="col-lg-6" *ngIf="categoryChartResults">
          <div class="card bg-light mt-4">
            <div class="card-header font-weight-bold">Categories Overview</div>
            <div class="card-body chart-wrapper p-0">
              <ngx-charts-pie-chart [results]="categoryChartResults"
                                    [customColors]="categoryChartColors"
                                    [doughnut]="true"
                                    [arcWidth]="0.25"
                                    [labels]="true">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-xl-4">

      <!-- My transactions -->
      <div class="card bg-light overflow-hidden mt-4">
        <div class="card-header font-weight-bold">My Transactions</div>
        <div class="card-body oy-scroll pt-0" [style.height]="783 + 'px'">

          <!-- Transaction groups -->
          <div *ngFor="let transactionGroup of transactionsGroups | keyvalue:orderByDate">

            <!-- Date -->
            <div class="mt-4 d-flex align-items-center text-secondary border-bottom pb-2">
              <h3 class="mb-0 mr-2 text-dark">{{ transactionGroup.key | date:'d' }}</h3>
              <div class="small">
                <div>{{ transactionGroup.key | date:'EEEE' }}</div>
                <div>{{ transactionGroup.key | date:'MMM yyyy' }}</div>
              </div>
              <div class="ml-auto mt-auto small">{{ transactionGroup.value.length }} Transactions</div>
            </div>

            <!-- Transactions -->
            <app-transaction-list [transactions]="transactionGroup.value"
                                  [categories]="categories"
                                  [wallets]="wallets"
                                  columnClass="col-xl-12 col-lg-6">
            </app-transaction-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
