<div class="container">

  <!-- Spent in categories -->
  <div class="card mt-4">
    <div class="card-header" [title]="filterText">Spent in categories</div>
    <div class="card-body p-0">
      <!-- Metrics -->
      <app-metric-spent-category *ngIf="categories && categorySpentMetrics"
                                 [metrics]="categorySpentMetrics"
                                 [categories]="categories">
      </app-metric-spent-category>
      <!-- Loading -->
      <div class="p-3 text-center" *ngIf="!categories || !categorySpentMetrics">
        <app-loading></app-loading>
      </div>
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row">

    <!-- Left -->
    <div class="col-xl-8 mb-4">

      <!-- Wallets -->
      <div class="card mt-4">

        <!-- Header -->
        <a class="card-header" routerLink="../wallet/list">
          <span>My Wallets</span>
          <fa-icon [fixedWidth]="true" [icon]="faLink" class="ml-auto text-secondary"></fa-icon>
        </a>

        <!-- Body -->
        <div class="card-body pt-0 pb-3">

          <!-- Loading -->
          <app-loading classes="mt-5" *ngIf="!wallets"></app-loading>

          <!-- Data -->
          <app-wallet-list *ngIf="wallets" [wallets]="wallets" columnClass="col-xl-4 col-lg-6"></app-wallet-list>
        </div>
      </div>

      <!-- Categories -->
      <div class="card mt-4">

        <!-- Header -->
        <a class="card-header" routerLink="../category/list">
          <span>My Categories</span>
          <fa-icon [fixedWidth]="true" [icon]="faLink" class="ml-auto text-secondary"></fa-icon>
        </a>

        <!-- Body -->
        <div class="card-body pt-0 pb-3">

          <!-- Loading -->
          <app-loading classes="mt-5" *ngIf="!categories"></app-loading>

          <!-- No data -->
          <p class="m-3 text-info text-center font-weight-bold" *ngIf="categories && !categoriesToShow.length">
            📋 When you start adding expenses, their categories will show up here.
          </p>

          <!-- Data -->
          <app-category-list [categories]="categoriesToShow"></app-category-list>
        </div>
      </div>

      <!-- Balance chart + Categories chart -->
      <div class="row">

        <!-- Balance chart -->
        <div class="col-lg-6">
          <div class="card mt-4">
            <div class="card-header" [title]="filterText">Balance Chart</div>
            <div class="card-body chart-wrapper p-0">

              <!-- Loading -->
              <app-loading *ngIf="!transactions" classes="mt-5"></app-loading>

              <!-- No data -->
              <p class="m-3 text-info text-center font-weight-bold"
                 *ngIf="transactions && !transactions.length">
                📋 When you start adding transactions, statistical chart will show up here.
              </p>

              <!-- Data -->
              <ngx-charts-pie-chart *ngIf="transactions && transactions.length && balanceChartResults"
                                    [results]="balanceChartResults"
                                    [customColors]="balanceChartColors"
                                    [doughnut]="true"
                                    [arcWidth]="0.25"
                                    [labels]="true">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

        <!-- Categories chart -->
        <div class="col-lg-6">
          <div class="card mt-4">
            <div class="card-header" [title]="filterText">Categories Chart</div>
            <div class="card-body p-0">
              <!-- Chart -->
              <app-chart-spent-category *ngIf="categories && categorySpentMetrics"
                                        [metrics]="categorySpentMetrics"
                                        [categories]="categories">
              </app-chart-spent-category>
              <!-- Loading -->
              <app-loading *ngIf="!categories || !categorySpentMetrics" classes="m-3"></app-loading>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-xl-4 mb-4">

      <!-- My transactions -->
      <div class="card overflow-hidden mt-4">

        <!-- Header -->
        <a class="card-header" routerLink="../transaction/list">
          <span>My Transactions</span>
          <fa-icon [fixedWidth]="true" [icon]="faLink" class="ml-auto text-secondary"></fa-icon>
        </a>

        <!-- Body -->
        <div class="card-body pt-0">

          <!-- Loading -->
          <app-loading classes="mt-5" *ngIf="!transactions || !categories || !wallets"></app-loading>

          <!-- No data -->
          <p class="m-3 text-info text-center font-weight-bold" *ngIf="transactions && !transactions.length">
            📋 When you start adding transactions, they will show up here.
          </p>

          <!-- Transactions -->
          <app-transaction-list *ngIf="transactions && categories && wallets"
                                [transactions]="transactions"
                                [categories]="categories"
                                [wallets]="wallets"
                                columnClass="col-xl-12 col-lg-6">
          </app-transaction-list>

          <!-- Pagination -->
          <app-pager wrapperClass="mt-4 mb-0"
                     *ngIf="transactions?.length"
                     [disabled]="!transactions || !wallets"
                     [apiResponse]="transactionsApiResponse"
                     [paramsToCombine]="transactionsFilter"
                     (pageChanged)="loadTransactions()">
          </app-pager>
        </div>
      </div>
    </div>
  </div>
</div>
