<!-- Filter -->
<div class="bg-tertiary py-3">
  <div class="container">
    <app-filters [filters]="filters" (update)="filtersSelected = $event; load()"></app-filters>
  </div>
</div>

<!-- Time, view and actions -->
<div class="bg-light py-2 border-bottom border-top border-tertiary">
  <div class="container">

    <!-- Time and view -->
    <div class="d-flex align-items-center" *ngIf="!(selection && selection.selected)">

      <!-- Month selector -->
      <div class="d-flex align-items-center" *ngIf="monthSelected !== null">

        <!-- Switch to prev month -->
        <button class="btn btn-link"
                [disabled]="!months[monthSelected - 1]"
                (click)="monthSelected = monthSelected - 1; load()">
          <fa-icon [fixedWidth]="true" [icon]="faPrev"></fa-icon>
        </button>

        <!-- Selected month -->
        <div class="font-weight-bold mx-2">
          <span *ngIf="months[monthSelected].getMonth() < now.getMonth() - 1">
            {{ months[monthSelected] | date:'MMMM' }}
          </span>
          <span *ngIf="months[monthSelected].getMonth() === now.getMonth()">This Month</span>
          <span *ngIf="months[monthSelected].getMonth() === now.getMonth() - 1">Last Month</span>
        </div>

        <!-- Switch to next month -->
        <button class="btn btn-link"
                [disabled]="!months[monthSelected + 1]"
                (click)="monthSelected = monthSelected + 1; load()">
          <fa-icon [fixedWidth]="true" [icon]="faNext"></fa-icon>
        </button>
      </div>

      <!-- This month -->
      <button class="btn btn-light"
              *ngIf="monthSelected === null"
              (click)="monthSelected = this.months.length - 1; load()">
        This Month
      </button>

      <!-- All time -->
      <button class="btn btn-light ml-2 pointer-events-none"
              (click)="monthSelected = null; load()"
              [class.active]="monthSelected === null"
              [class.pointer-events-none]="monthSelected === null">
        All Time
      </button>

      <!-- View switcher -->
      <div class="btn-group ml-auto">
        <div class="btn btn-outline-tertiary text-dark" [class.active]="listView" (click)="listView = true">
          <fa-icon [fixedWidth]="true" [icon]="faListView"></fa-icon>
        </div>
        <div class="btn btn-outline-tertiary text-dark" [class.active]="!listView" (click)="listView = false">
          <fa-icon [fixedWidth]="true" [icon]="faGridView"></fa-icon>
        </div>
      </div>
    </div>

    <!-- Actions -->
    <div class="d-flex align-items-center" *ngIf="selection && selection.selected">

      <!-- Selected -->
      <div>{{ selection.selected }} Selected {{loadingAction}}</div>

      <!-- Action buttons -->
      <app-actions class="d-flex ml-auto"
                   [actions]="actions"
                   [disable]="loadingAction"
                   (selection)="onAction($event)">
      </app-actions>
    </div>
  </div>
</div>

<!-- Content -->
<div class="container mb-3">

  <!-- Transactions table -->
  <div class="table-responsive my-3"
       *ngIf="transactions && transactions.length && categoryDict && walletDict && listView">
    <table class="table table-borderless table-striped">
      <thead>
      <tr>
        <th>
          <div class="custom-control custom-checkbox">
            <input type="checkbox"
                   class="custom-control-input"
                   id="selection"
                   [indeterminate]="selection.indeterminate"
                   [checked]="selection.deselected === 0"
                   (change)="selection.selectDeselectAll()">
            <label class="custom-control-label" for="selection"></label>
          </div>
        </th>
        <th>Transaction</th>
        <th>Category</th>
        <th>Wallet</th>
        <th>Date</th>
        <th>Time</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" [id]="transaction.id"
                   [(ngModel)]="selection.selection[transaction.id]"
                   (ngModelChange)="selection.count()">
            <label class="custom-control-label" [for]="transaction.id"></label>
          </div>
        </td>
        <td><a class="text-dark" [routerLink]="['../../../', transaction.id]">{{ transaction.title }}</a></td>
        <td>
          <a class="text-dark" [routerLink]="['../../../../category', transaction.category]">
            {{ categoryDict[transaction.category].name }}
          </a>
        </td>
        <td>
          <a class="text-dark" [routerLink]="['../../../../wallet', transaction.wallet]">
            {{ walletDict[transaction.wallet].name }}
          </a>
        </td>
        <td>{{ transaction.created | date }}</td>
        <td>{{ transaction.created | date:'hh:mm aa' }}</td>
        <td [class.text-secondary]="transaction.kind === expenseKind.TRANSFER"
            [class.text-danger]="transaction.kind === expenseKind.EXPENSE">
          {{ transaction.amount | profileCurrency }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Transactions -->
  <app-transaction-list *ngIf="transactions && categories && wallets"
                        [hidden]="listView"
                        [transactions]="transactions"
                        [categories]="categories"
                        [wallets]="wallets"
                        (categoryDictSet)="categoryDict = $event"
                        (walletDictSet)="walletDict = $event">
  </app-transaction-list>

  <!-- No data -->
  <app-no-data classes="my-5" *ngIf="transactions && !transactions.length"></app-no-data>

  <!-- Loading -->
  <app-loading classes="my-5" *ngIf="!transactions || !wallets"></app-loading>
</div>
