tbody,
thead {
  th, td {
    min-width: 150px;
  }

  > * > * {
    &:first-child {
      text-align: center;
      min-width: unset;
      width: 20px;
      padding-right: 0;
    }

    &:last-child {
      text-align: right;
    }
  }
}
