@import "src/variables";

#outer, #sidebar, #page-wrapper, #page, #header {
  display: flex;
  height: 100%;
}

#outer {
  width: 100%;

  > #sidebar {
    flex-direction: column;
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: var(--app-sidebar-bg-color);
    color: var(--app-sidebar-text-color);
    border-left: 1px solid var(--app-sidebar-border-color);
    z-index: 10;

    .card > .card-body {
      background: var(--app-sidebar-card-bg-color);
      border-color: var(--app-sidebar-border-color);
    }

    .text-primary {
      color: var(--app-primary-color) !important;
    }

    .bg-primary {
      background: var(--app-primary-color) !important;
    }

    > div {
      padding: map_get($spacers, 4);
      display: flex;
      flex-direction: column;
      height: 100%;

      .my {
        margin-bottom: map_get($spacers, 5);
      }

      > .links {
        margin: 0 map_get($spacers, 4) * -1;

        > a {
          padding: map_get($spacers, 4);
          display: block;
          color: var(--app-sidebar-text-color);
          text-decoration: none;

          &:hover,
          &:focus {
            background: var(--app-sidebar-link-hover-bg-color);
          }

          &:active,
          &.active {
            background: var(--app-sidebar-link-active-bg-color);

            > fa-icon {
              color: var(--app-primary-color);
              opacity: 1;
            }
          }

          > fa-icon {
            margin-right: map_get($spacers, 3);
            opacity: 0.5;
          }
        }
      }
    }

    > #user {
      height: $header-height;
      flex-direction: row;
      align-items: center;
      justify-content: end;
    }

    > .view-user {
      a:not(.btn) {
        color: var(--app-primary-color);
      }
    }
  }

  > #page-wrapper {
    flex-direction: column;
    width: 100%;

    > #header {
      height: $header-height;
      min-height: $header-height;
      background: var(--app-header-bg-color);
      color: var(--app-header-text-color);
      border-bottom: $border-width solid var(--app-header-border-color);
      align-items: center;
    }

    > #page {
      width: 100%;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      &::ng-deep > *:not(router-outlet) {
        display: flex;
        width: 100%;
        height: 100%;

        > * {
          width: 100%;
        }

        > router-outlet {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: map_get($grid-breakpoints, lg) - 1) {
  #sidebar {
    position: fixed;
    top: 0;
    right: -$sidebar-width;
    transition: $transition-base;

    &.open {
      right: 0;
      box-shadow: $box-shadow;
    }
  }
}

@media screen and (max-width: $sidebar-width + 30) {
  #sidebar {
    min-width: $sidebar-mobile-width !important;
    max-width: $sidebar-mobile-width !important;
    right: -$sidebar-mobile-width;

    > #user {
      > .btn {
        padding-left: 5px;
        padding-right: 5px;

        &:first-child {
          margin-right: 10px !important;
          margin-left: -10px !important;
        }
      }
    }
  }
}

