<!-- Outer -->
<div id="outer">

  <!-- Page wrapper -->
  <div id="page-wrapper">

    <!-- Header -->
    <div id="header" *ngIf="profile">

      <!-- Container -->
      <div class="container d-flex align-items-center">

        <!-- Logo -->
        <a routerLink="/" title="Expensephere">
          <img src="assets/favicon/favicon.ico" class="mr-3" [width]="28">
        </a>

        <!-- Total -->
        <div class="text-dark" title="Total balance" *ngIf="profile">
          <div class="font-weight-bold">Total</div>
          <div class="text-muted small">{{ profile.balance.total | profileCurrency }}</div>
        </div>

        <!-- Create button (dropdown) -->
        <div class="dropdown ml-auto" dropdown>
          <!-- Create button -->
          <button class="btn btn-primary dropdown-toggle" dropdownToggle>Create</button>
          <!-- Buttons -->
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
            <!-- Transaction -->
            <a class="dropdown-item" (click)="addTransaction()">Transaction</a>
            <!-- Wallet -->
            <a class="dropdown-item" (click)="addWallet()">Wallet</a>
            <!-- Category -->
            <a class="dropdown-item" (click)="addCategory()">Category</a>
            <!-- Event -->
            <a class="dropdown-item" (click)="addEvent()">Event</a>
          </div>
        </div>

        <!-- Sidebar toggle button (mobile only) -->
        <button class="btn btn-light ml-2 d-block d-lg-none" (click)="sidebarClose = !sidebarClose">
          <fa-icon [fixedWidth]="true" [icon]="faSidebarToggle"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Page -->
    <div id="page" (click)="sidebarClose = true">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar" [class.open]="!sidebarClose" *ngIf="user">

    <!-- User -->
    <div id="user">

      <!-- Sidebar toggle button (mobile only) -->
      <button class="btn btn-light mr-3 d-block d-lg-none" (click)="sidebarClose = true">
        <fa-icon [fixedWidth]="true" [icon]="faSidebarToggle"></fa-icon>
      </button>

      <!-- Name -->
      <div class="font-weight-bold">
        <div>{{ user.account.name }}</div>
        <small class="text-muted d-none d-sm-block">{{ user.email }}</small>
      </div>

      <!-- Icon -->
      <div class="btn btn-light ml-auto" (click)="toggleUserView()">
        <fa-icon [fixedWidth]="true" [icon]="sidebarViewSelected === sidebarView.USER ? faBack : faView"></fa-icon>
      </div>
    </div>

    <!-- Sidebar view: User -->
    <div *ngIf="sidebarViewSelected === sidebarView.USER">

      <!-- My profile -->
      <div class="my profiles" *ngIf="profile">

        <!-- Header -->
        <p class="font-weight-bold">My Profiles</p>

        <!-- Profile -->
        <div class="card shadow-sm" *ngFor="let item of profiles || [profile]; let last = last"
             [class.mb-3]="!last" (click)="select(item)">
          <div class="card-body">
            <div class="d-flex">
              <span class="font-weight-bold">{{ item.name }}</span>
              <span class="ml-auto" title="Balance">{{ item.balance.total | profileCurrency:item.currency }}</span>
              <fa-icon class="ml-2 text-primary" [icon]="faSelected"
                       *ngIf="profile && item.id === profile.id"></fa-icon>
            </div>
            <div *ngIf="item.note" class="text-muted small">{{ item.note }}</div>
          </div>
        </div>
        <!-- Add profile -->
        <button class="btn btn-primary btn-sm btn-block font-weight-bold mt-2" (click)="addProfile()">ADD PROFILE</button>
      </div>

      <!-- My account -->
      <div class="my account">

        <!-- Header -->
        <p class="font-weight-bold">My Account</p>

        <!-- Settings -->
        <a class="btn btn-secondary shadow-sm" title="Settings" routerLink="/user/settings">
          <fa-icon [fixedWidth]="true" [icon]="faSettings"></fa-icon>
        </a>

        <!-- Sign out -->
        <a class="btn btn-secondary shadow-sm ml-2" routerLink="/user/sign-out" title="Sign Out">
          <fa-icon [fixedWidth]="true" [icon]="faSignOut"></fa-icon>
        </a>
      </div>

      <!-- App info -->
      <div class="mt-auto text-secondary small">
        <p>
          <span>Expensephere v0.2 Beta &bull; </span>
          <a href="https://expensephere.savandbros.com">Website</a>
          <span> &bull; </span>
          <a href="mailto:expensephere@savandbros.com">Feedback</a>
        </p>
        <p>2020 &copy; <a href="https://savandbros.com" target="_blank">SavandBros</a></p>
      </div>
    </div>

    <!-- Sidebar view: Main -->
    <div *ngIf="sidebarViewSelected === sidebarView.MAIN">

      <!-- Links -->
      <div class="links" *ngIf="profile">
        <a routerLinkActive="active" routerLink="/dash/overview">
          <fa-icon [fixedWidth]="true" [icon]="faDashboard"></fa-icon>
          <span>Dashboard</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/transaction">
          <fa-icon [fixedWidth]="true" [icon]="faTransactions"></fa-icon>
          <span>Transactions</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/wallet">
          <fa-icon [fixedWidth]="true" [icon]="faWallets"></fa-icon>
          <span>Wallets</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/category">
          <fa-icon [fixedWidth]="true" [icon]="faCategories"></fa-icon>
          <span>Categories</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/event">
          <fa-icon [fixedWidth]="true" [icon]="faEvents"></fa-icon>
          <span>Events</span>
        </a>
      </div>

      <!-- Links -->
      <div class="links" *ngIf="!profile">
        <a routerLinkActive="active" routerLink="/dash/profile">
          <fa-icon [fixedWidth]="true" [icon]="faProfile"></fa-icon>
          <span>Profiles</span>
        </a>
      </div>
    </div>
  </div>
</div>
