<!-- Outer -->
<div id="outer">

  <!-- Page wrapper -->
  <div id="page-wrapper">

    <!-- Header -->
    <div id="header">

      <!-- Container -->
      <div class="container d-flex align-items-center">

        <!-- Wallets -->
        <div class="d-inline-block" *ngIf="profiles">
          <a class="text-dark d-flex align-items-center" title="Current wallet"
             *ngIf="wallets" [popover]="walletsTemplate" placement="bottom" [outsideClick]="true">
            <div class="item-icon" [ngStyle]="style(colorsReserved.wallets)" *ngIf="!walletSelected">
              <fa-icon [fixedWidth]="true" [icon]="faWallets"></fa-icon>
            </div>
            <div class="ml-3" *ngIf="!walletSelected">
              <div>
                <span class="font-weight-bold">Total</span>
                <fa-icon [icon]="faDropdown" size="sm" class="ml-2 text-muted"></fa-icon>
              </div>
              <div class="text-muted small">
                {{ profiles[0].balance.total | profileCurrency:profiles[0].currency }}
              </div>
            </div>
            <div class="item-icon" [ngStyle]="style(walletSelected.color)" *ngIf="walletSelected">
              <span class="icon-{{ walletSelected.icon }}"></span>
            </div>
            <div class="ml-3" *ngIf="walletSelected">
              <div>
                <span class="font-weight-bold">{{ walletSelected.name }}</span>
                <fa-icon [icon]="faDropdown" size="sm" class="ml-2 text-muted"></fa-icon>
              </div>
              <div class="text-muted small">
                {{ walletSelected.balance.total | profileCurrency }}
              </div>
            </div>
          </a>
        </div>

        <!-- Create button -->
        <div class="btn btn-primary ml-auto" (click)="addTransaction()">Create</div>
      </div>
    </div>

    <!-- Page -->
    <div id="page">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar" *ngIf="user">

    <!-- User -->
    <div id="user" (click)="toggleUserView()">

      <!-- Name -->
      <div class="font-weight-bold">
        <div>{{ user.account.name }}</div>
        <small class="text-muted">{{ user.email }}</small>
      </div>

      <!-- Icon -->
      <fa-icon [fixedWidth]="true" class="ml-auto text-secondary"
               [icon]="sidebarViewSelected === sidebarView.USER ? faBack : faView">
      </fa-icon>
    </div>

    <!-- Sidebar view: User -->
    <div *ngIf="sidebarViewSelected === sidebarView.USER">

      <!-- My profile -->
      <div class="my profiles">

        <!-- Header -->
        <p class="font-weight-bold">My Profiles</p>

        <!-- Profile -->
        <div class="card shadow-sm" *ngFor="let profile of profiles; let last = last" [class.mb-3]="!last">
          <div class="card-body">
            <span class="font-weight-bold">{{ profile.name }}</span>
            <span class="float-right" title="Balance">
              {{ profile.balance.total | profileCurrency:profile.currency }}
            </span>
            <div *ngIf="profile.note" class="text-muted small">{{ profile.note }}</div>
          </div>
        </div>
      </div>

      <!-- My account -->
      <div class="my account">

        <!-- Header -->
        <p class="font-weight-bold">My Account</p>

        <!-- Settings -->
        <a class="btn btn-secondary shadow-sm" title="Settings" routerLink="/user/settings">
          <fa-icon [fixedWidth]="true" [icon]="faSettings"></fa-icon>
        </a>

        <!-- Sign out -->
        <button class="btn btn-secondary shadow-sm ml-2" (click)="auth.signOut()" title="Logout">
          <fa-icon [fixedWidth]="true" [icon]="faSignOut"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Sidebar view: Main -->
    <div *ngIf="sidebarViewSelected === sidebarView.MAIN">

      <!-- Links -->
      <div class="links">
        <a routerLinkActive="active" routerLink="/dash/overview">
          <fa-icon [fixedWidth]="true" [icon]="faDashboard"></fa-icon>
          <span>Dashboard</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/transaction">
          <fa-icon [fixedWidth]="true" [icon]="faTransactions"></fa-icon>
          <span>Transactions</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/wallet">
          <fa-icon [fixedWidth]="true" [icon]="faWallets"></fa-icon>
          <span>Wallets</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/category">
          <fa-icon [fixedWidth]="true" [icon]="faCategories"></fa-icon>
          <span>Categories</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/event">
          <fa-icon [fixedWidth]="true" [icon]="faEvents"></fa-icon>
          <span>Events</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Wallet popover -->
<ng-template #walletsTemplate>
  <a class="align-items-center d-flex mb-3" (click)="walletService.clear()" *ngIf="walletSelected">
    <div class="item-icon" [ngStyle]="style(colorsReserved.wallets)">
      <fa-icon [fixedWidth]="true" [icon]="faWallets"></fa-icon>
    </div>
    <div class="ml-3">
      <div class="font-weight-bold" [class.text-primary]="!walletSelected">Total</div>
      <div class="text-muted small">
        {{ profileService.profile.balance.total | profileCurrency }}
      </div>
    </div>
  </a>
  <a class="align-items-center mb-3"
     *ngFor="let wallet of wallets"
     (click)="walletService.wallet = wallet.id"
     [class.d-flex]="walletService.wallet !== wallet.id"
     [hidden]="walletService.wallet === wallet.id">
    <div class="item-icon" [ngStyle]="style(wallet.color)">
      <span class="icon-{{ wallet.icon }}"></span>
    </div>
    <div class="ml-3">
      <div class="font-weight-bold">{{ wallet.name }}</div>
      <div class="text-muted small">{{ wallet.balance.total | profileCurrency }}</div>
    </div>
  </a>
  <a class="btn btn-primary btn-block btn-sm" routerLink="/user/wallet/add">New Wallet</a>
</ng-template>
