@import "src/variables";

#outer, #sidebar, #page-wrapper, #page, #header {
  display: flex;
  height: 100%;
}

#outer {
  width: 100%;

  > #sidebar {
    flex-direction: column;
    min-width: $sidebar-width;
    overflow-y: auto;
    background: $light;

    > div {
      padding: map_get($spacers, 4);
      display: flex;
      flex-direction: column;
      height: 100%;

      .my {
        margin-bottom: map_get($spacers, 5);
      }

      > .links {
        margin: 0 map_get($spacers, 4) * -1;

        > a {
          padding: map_get($spacers, 4);
          display: block;
          color: $dark;
          text-decoration: none;

          &:hover,
          &:focus {
            background: rgba(0, 0, 0, 0.025);
          }

          &:active,
          &.active {
            background: rgba(0, 0, 0, 0.05);

            > fa-icon {
              color: $primary;
              opacity: 1;
            }
          }

          > fa-icon {
            margin-right: map_get($spacers, 3);
            opacity: 0.5;
          }
        }
      }
    }

    > #user {
      height: $header-height;
      flex-direction: row;
      align-items: center;
      justify-content: end;
    }
  }

  > #page-wrapper {
    flex-direction: column;
    width: 100%;

    > #header {
      height: $header-height;
      min-height: $header-height;
      background: $white;
      color: $light;
      border-bottom: 1px solid rgba(0, 0, 0, 0.075);
      align-items: center;
    }

    > #page {
      width: 100%;
      overflow-y: auto;

      &::ng-deep > *:not(router-outlet) {
        display: flex;
        width: 100%;
        height: 100%;

        > * {
          width: 100%;
        }

        > router-outlet {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #sidebar {
    position: fixed;
    top: 0;
    right: -$sidebar-width;
    transition: $transition-base;

    &.open {
      right: 0;
      box-shadow: $box-shadow-lg;
    }
  }
}
