<!-- Outer -->
<div id="outer">

  <!-- Page wrapper -->
  <div id="page-wrapper">

    <!-- Header -->
    <div id="header" *ngIf="profile">

      <!-- Container -->
      <div class="container d-flex align-items-center">

        <!-- Logo -->
        <a routerLink="/" title="Expensephere">
          <img src="assets/favicon/favicon.png" class="mr-3" [width]="28">
        </a>

        <!-- Total -->
        <div class="text-dark" title="Total balance" *ngIf="profile">
          <div class="font-weight-bold">Total</div>
          <div class="text-muted small">{{ profile.balance.total | profileCurrency }}</div>
        </div>

        <!-- Create button (dropdown) -->
        <div class="dropdown ml-auto" dropdown>
          <!-- Create button -->
          <button class="btn btn-primary" dropdownToggle>
            <fa-icon [fixedWidth]="true" [icon]="faAdd"></fa-icon>
          </button>
          <!-- Buttons -->
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
            <!-- Transaction -->
            <a class="dropdown-item" (click)="addTransaction()">Transaction</a>
            <!-- Wallet -->
            <a class="dropdown-item" (click)="addWallet()">Wallet</a>
            <!-- Category -->
            <a class="dropdown-item" (click)="addCategory()">Category</a>
            <!-- Event -->
            <a class="dropdown-item" (click)="addEvent()">Event</a>
            <!-- Invoice -->
            <a class="dropdown-item" [routerLink]="'/dash/invoice/add'">Invoice</a>
            <!-- Separator -->
            <div class="dropdown-divider"></div>
            <!-- Bulk transaction -->
            <a class="dropdown-item" routerLink="/dash/transaction/bulk-add">Bulk Transaction</a>
          </div>
        </div>

        <!-- Sidebar toggle button (mobile only) -->
        <button class="btn btn-secondary ml-2 d-block d-lg-none" (click)="sidebarClose = !sidebarClose">
          <fa-icon [fixedWidth]="true" [icon]="faSidebarToggle"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Page -->
    <div id="page" cdkScrollable (click)="sidebarClose = true">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar" [class.open]="!sidebarClose" *ngIf="user">

    <!-- User -->
    <div id="user">

      <!-- Sidebar toggle button (mobile only) -->
      <button class="btn btn-light mr-3 d-block d-lg-none" (click)="sidebarClose = true">
        <fa-icon [fixedWidth]="true" [icon]="faSidebarToggle"></fa-icon>
      </button>

      <!-- Name -->
      <div class="font-weight-bold">
        <div>{{ user.account.name }}</div>
        <small class="text-muted d-none d-sm-block">{{ user.email }}</small>
      </div>

      <!-- Icon -->
      <div class="btn btn-light ml-auto" (click)="toggleUserView()">
        <fa-icon [fixedWidth]="true" [icon]="sidebarViewSelected === sidebarView.USER ? faBack : faView"></fa-icon>
      </div>
    </div>

    <!-- Sidebar view: User -->
    <div *ngIf="sidebarViewSelected === sidebarView.USER">

      <!-- My profile -->
      <div class="my profiles" *ngIf="profile">

        <!-- Header -->
        <a class="font-weight-bold mb-3 d-block" routerLink="./profile/list">My Profiles</a>

        <!-- Loading -->
        <app-loading *ngIf="!profiles" classes="mb-2"></app-loading>

        <!-- Profile -->
        <div class="card shadow-sm mb-2"
             *ngFor="let item of profiles; let last = last"
             [class.cursor-pointer]="profile && item.id !== profile.id"
             (click)="select(item)">
          <div class="card-body py-2">
            <div class="d-flex align-items-center">

              <!-- Profile name and total balance -->
              <div class="mr-auto">
                <div class="font-weight-bold">{{ item.name }}</div>
                <div class="small text-secondary" title="Total balance">
                  {{ item.balance.total | profileCurrency:item.currency }}
                </div>
              </div>

              <!-- Selected icon -->
              <fa-icon *ngIf="profile.id === item.id"
                       [fixedWidth]="true"
                       [icon]="faSelected"
                       class="text-primary">
              </fa-icon>

              <!-- Not selected icon -->
              <fa-icon *ngIf="profile.id !== item.id"
                       [fixedWidth]="true"
                       [icon]="faNotSelected"
                       class="text-tertiary">
              </fa-icon>
            </div>
            <div *ngIf="item.note" class="text-muted small">{{ item.note }}</div>
          </div>
        </div>

        <!-- Add profile -->
        <button class="btn btn-link text-secondary font-weight-bold ml-2" (click)="addProfile()">Add Profile</button>
      </div>

      <!-- My account -->
      <div class="my account">

        <!-- Header -->
        <p class="font-weight-bold">My Account</p>

        <!-- Settings -->
        <a class="btn btn-secondary shadow-sm" title="Settings" routerLink="/user/settings">
          <fa-icon [fixedWidth]="true" [icon]="faSettings"></fa-icon>
        </a>

        <!-- Sign out -->
        <a class="btn btn-secondary shadow-sm ml-2" routerLink="/user/sign-out" title="Sign Out">
          <fa-icon [fixedWidth]="true" [icon]="faSignOut"></fa-icon>
        </a>
      </div>

      <!-- App info -->
      <div class="mt-auto text-secondary small">
        <p>
          <span>Expensephere v0.7 Beta &bull; </span>
          <a [href]="home">Website</a>
          <span> &bull; </span>
          <a href="mailto:expensephere@savandbros.com">Feedback</a>
        </p>
        <p>2020 &copy; <a href="https://savandbros.com" target="_blank">SavandBros</a></p>
      </div>
    </div>

    <!-- Sidebar view: Main -->
    <div *ngIf="sidebarViewSelected === sidebarView.MAIN">

      <!-- Links -->
      <div class="links" *ngIf="profile">
        <a routerLinkActive="active" routerLink="/dash/overview">
          <fa-icon [fixedWidth]="true" [icon]="faDashboard"></fa-icon>
          <span>Dashboard</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/transaction">
          <fa-icon [fixedWidth]="true" [icon]="faTransactions"></fa-icon>
          <span>Transactions</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/wallet">
          <fa-icon [fixedWidth]="true" [icon]="faWallets"></fa-icon>
          <span>Wallets</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/category">
          <fa-icon [fixedWidth]="true" [icon]="faCategories"></fa-icon>
          <span>Categories</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/calendar">
          <fa-icon [fixedWidth]="true" [icon]="faCalendar"></fa-icon>
          <span>Calendar</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/event">
          <fa-icon [fixedWidth]="true" [icon]="faEvents"></fa-icon>
          <span>Events</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/invoice">
          <fa-icon [fixedWidth]="true" [icon]="faInvoice"></fa-icon>
          <span>Invoices</span>
        </a>
        <a routerLinkActive="active" routerLink="/dash/export">
          <fa-icon [fixedWidth]="true" [icon]="faExport"></fa-icon>
          <span>Export</span>
        </a>
      </div>

      <!-- Links -->
      <div class="links" *ngIf="!profile">
        <a routerLinkActive="active" routerLink="/dash/profile">
          <fa-icon [fixedWidth]="true" [icon]="faProfile"></fa-icon>
          <span>Profiles</span>
        </a>
      </div>
    </div>
  </div>
</div>
