<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span>{{ isEditing ? 'Edit' : 'Add' }} Profile</span>

  <!-- Close -->
  <button mat-button class="text-secondary" (click)="modal.hide()">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Body -->
<div class="modal-body pb-0">
  <form [formGroup]="form.form" (ngSubmit)="submit()" *ngIf="form.form">

    <!-- Name -->
    <label class="label2">Name</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Name</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faInfo"></fa-icon>
      </span>
      <input matInput
             type="text"
             id="name"
             formControlName="name"
             [class.is-invalid]="form.error.name">
      <mat-error *ngIf="form.error.name">{{ form.error.name[0] }}</mat-error>
    </mat-form-field>

    <!-- Currency -->
    <div class="form-group">
      <label for="currency">Currency</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faCurrency"></fa-icon>
        </div>
        <app-select id="currency"
                    selectLabel="Select currency"
                    *ngIf="currencies"
                    [items]="currencies"
                    [selectedId]="form.form.get('currency').value"
                    (choose)="form.form.get('currency').setValue($event.id)">
        </app-select>
        <div class="invalid-tooltip" *ngIf="form.error.currency">{{ form.error.currency[0] }}</div>
      </div>
    </div>

    <!-- Note -->
    <label class="label2">Note</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Write a note</mat-label>
      <span matPrefix class="note-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faNote"></fa-icon>
        </span>
      <textarea matInput
                id="note"
                [rows]="3"
                type="text"
                formControlName="note"></textarea>
      <mat-error *ngIf="form.error.note">{{ form.error.note[0] }}</mat-error>
    </mat-form-field>
  </form>
</div>

<!-- Footer -->
<div class="modal-footer text-end">

  <!-- Delete -->
  <a class="text-danger me-auto" *ngIf="isEditing" (click)="delete(profile)">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button mat-button (click)="modal.hide()">Cancel</button>

  <!-- Submit -->
  <button mat-flat-button [disabled]="form.loading || form.form.invalid" (click)="submit()">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>
