<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span mat-dialog-title>{{ isEditing ? 'Edit' : 'Add' }} Tag</span>

  <!-- Close -->
  <button mat-button class="text-secondary" mat-dialog-close>
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>


<!-- Body -->
<div class="modal-body pb-0">
  <form (ngSubmit)="submit()" *ngIf="form.form" [formGroup]="form.form">

    <!-- Name -->
    <label class="label2">Name</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Name</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faInfo"></fa-icon>
      </span>
      <input matInput
             type="text"
             formControlName="name"
             placeholder="Name">
      <mat-error *ngIf="form.error.name">{{ form.error.name[0] }}</mat-error>
    </mat-form-field>

    <!-- Icon -->
    <div class="form-group">
      <label for="icon">Icon</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faIcons" class="input-group-text"></fa-icon>
        </div>
        <app-select (choose)="form.form.get('icon').setValue($event.id)"
                    *ngIf="icons"
                    [items]="icons"
                    [selectedId]="form.form.get('icon').value"
                    id="icon"
                    selectLabel="Select icon">
        </app-select>
        <div *ngIf="form.error.icon" class="invalid-tooltip">{{ form.error.icon[0] }}</div>
      </div>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label for="color">Color</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faPaint" class="input-group-text"></fa-icon>
        </div>
        <app-select-color (choose)="form.form.get('color').setValue($event)"
                          [selected]="form.form.get('color').value"
                          id="color">
        </app-select-color>
        <div *ngIf="form.error.color" class="invalid-tooltip">{{ form.error.color[0] }}</div>
      </div>
    </div>

    <!-- Archive -->
    <div class="form-group">
      <label for="archive">Archive</label>
      <div>
        <mat-slide-toggle formControlName="archive"
                          id="archive"
                          class="small">
          Archive and hide from the list
        </mat-slide-toggle>
      </div>
    </div>

    <!-- Extra details toggle -->
    <a (click)="showExtraDetails = !showExtraDetails"
       class="d-block fw-bold text-secondary mt-5 mb-3 text-uppercase">
      <span>Extra Details</span>
      <fa-icon [flip]="showExtraDetails ? 'vertical' : null" [icon]="faCollapse" class="float-end"></fa-icon>
    </a>

    <!-- Extra details -->
    <div [collapse]="!showExtraDetails">

      <!-- Note -->
      <label class="label2">Note</label>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Write a note</mat-label>
        <span matPrefix class="note-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faNote"></fa-icon>
        </span>
        <textarea matInput
                  id="note"
                  [rows]="3"
                  type="text"
                  formControlName="note"></textarea>
        <mat-error *ngIf="form.error.note">{{ form.error.note[0] }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>


<!-- Footer -->
<div class="modal-footer text-end">

  <!-- Delete -->
  <a (click)="delete(this.data.tag)" *ngIf="isEditing" [mat-dialog-close]="true" class="text-danger me-auto">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button class="btn btn-light" mat-dialog-close>Cancel</button>

  <!-- Submit -->
  <button (click)="submit()"
          [mat-dialog-close]="true"
          [disabled]="form.loading || form.form.invalid"
          class="btn btn-primary">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>

