<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span>{{ isEditing ? 'Edit' : 'Add' }} Tag</span>

  <!-- Close -->
  <button (click)="modal.hide()" class="ms-auto btn btn-link">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>


<!-- Body -->
<div class="modal-body pb-0">
  <form (ngSubmit)="submit()" *ngIf="form.form" [formGroup]="form.form">

    <!-- Name -->
    <div class="form-group">
      <label for="name">Name</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faInfo" class="input-group-text"></fa-icon>
        </div>
        <input [class.is-invalid]="form.error.name"
               class="form-control"
               formControlName="name"
               id="name"
               placeholder="Name"
               type="text">
        <div *ngIf="form.error.name" class="invalid-tooltip">{{ form.error.name[0] }}</div>
      </div>
    </div>

    <!-- Icon -->
    <div class="form-group">
      <label for="icon">Icon</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faIcons" class="input-group-text"></fa-icon>
        </div>
        <app-select (choose)="form.form.get('icon').setValue($event.id)"
                    *ngIf="icons"
                    [items]="icons"
                    [selectedId]="form.form.get('icon').value"
                    id="icon"
                    selectLabel="Select icon">
        </app-select>
        <div *ngIf="form.error.icon" class="invalid-tooltip">{{ form.error.icon[0] }}</div>
      </div>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label for="color">Color</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faPaint" class="input-group-text"></fa-icon>
        </div>
        <app-select-color (choose)="form.form.get('color').setValue($event)"
                          [selected]="form.form.get('color').value"
                          id="color">
        </app-select-color>
        <div *ngIf="form.error.color" class="invalid-tooltip">{{ form.error.color[0] }}</div>
      </div>
    </div>

    <!-- Archive -->
    <div class="form-group">
      <label for="archive">Archive</label>
      <div class="form-check form-switch position-static">
        <input class="form-check-input" formControlName="archive" id="archive" type="checkbox">
        <label class="form-check-label" for="archive">Archive and hide from the list</label>
      </div>
    </div>

    <!-- Extra details toggle -->
    <a (click)="showExtraDetails = !showExtraDetails"
       class="d-block fw-bold text-secondary mt-5 mb-3 text-uppercase">
      <span>Extra Details</span>
      <fa-icon [flip]="showExtraDetails ? 'vertical' : null" [icon]="faCollapse" class="float-end"></fa-icon>
    </a>

    <!-- Extra details -->
    <div [collapse]="!showExtraDetails">

      <!-- Note -->
      <div class="form-group">
        <label for="note">Note</label>
        <div class="input-group">
          <div class="input-group-text">
            <fa-icon [fixedWidth]="true" [icon]="faNote" class="input-group-text"></fa-icon>
          </div>
          <textarea [class.is-invalid]="form.error.note" [rows]="3" class="form-control" formControlName="note"
                    id="note"
                    placeholder="Write a note">
          </textarea>
          <div *ngIf="form.error.note" class="invalid-tooltip">{{ form.error.note[0] }}</div>
        </div>
      </div>
    </div>
  </form>
</div>


<!-- Footer -->
<div class="modal-footer text-end">

  <!-- Delete -->
  <a (click)="delete(tag)" *ngIf="isEditing" class="text-danger me-auto">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button (click)="modal.hide()" class="btn btn-light">Cancel</button>

  <!-- Submit -->
  <button (click)="submit()" [disabled]="form.loading || form.form.invalid" class="btn btn-primary">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>

