@import "src/variables";

$color-size: 30px;

.selected-color-wrapper {
  padding: 6px;
  cursor: pointer;

  > .selected-color {
    box-shadow: 0 0 0 6px;
    width: 100%;
    height: 100%;
    border: 4px solid;
    display: block;
  }
}

.colors {
  position: absolute;
  width: calc(100% - 44px);
  z-index: 1;
  display: block;
  text-align: center;
  max-height: 200px;
  overflow-y: auto;

  > .color {
    box-shadow: 0 0 0 6px;
    width: $color-size;
    height: $color-size;
    border-radius: $color-size;
    display: inline-block;
    cursor: pointer;
    transition: $transition-base;

    &:hover {
      box-shadow: 0 0 0 10px;
    }
  }
}

@media screen and (max-width: map_get($grid-breakpoints, lg)) {

  .colors-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: $light;
    font-weight: $font-weight-bold;
    display: flex;
    align-items: center;
  }

  .colors {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    max-height: unset;
    z-index: 10;
    border-radius: 0 !important;

    > .color {
      border-radius: 15px;
      box-shadow: inset 0 -8px rgba(0, 0, 0, 0.2);
      width: $color-size * 2.5;
      height: $color-size * 2.5;
    }
  }
}
