<!-- Current color and toggler -->
<div class="selected-color-wrapper custom-select" (click)="isSelecting =! isSelecting">
  <div class="selected-color" [style.background]="selected" [style.color]="lighten(selected)"></div>
</div>

<!-- Color header (for mobile only when selecting) -->
<div class="colors-header px-3 border-bottom d-lg-none" *ngIf="isSelecting">
  <span class="font-weight-bold">Select color</span>
  <button class="btn btn-light ml-auto" type="button" (click)="isSelecting = false">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Color selection -->
<div class="card card-body shadow-sm colors px-2 mb-3" *ngIf="isSelecting">
  <div class="color mx-2 my-2"
       *ngFor="let color of colors"
       [style.background]="color"
       [style.color]="lighten(color)"
       (click)="choose.emit(color); selected = color; isSelecting = false">
  </div>
</div>
