@import "src/variables";

.icon-prefix {
  margin-right: map_get($spacers, 2);
  position: relative;
  top: -6px;
}

.budget-suffix {
  margin-left: map_get($spacers, 2);
  position: relative;
  top: -6px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  font-size: 15px;
}

.icon-note {
  margin-right: map_get($spacers, 2);
  position: relative;
  top: -26px;
}
