<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span>{{ isEditing ? 'Edit' : 'Add' }} Event</span>

  <!-- Close -->
  <button class="ms-auto btn btn-link" (click)="modal.hide()">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>


<!-- Body -->
<div class="modal-body pb-0">
  <form [formGroup]="form.form" (ngSubmit)="submit()" *ngIf="form.form">

    <!-- Name -->
    <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Name</mat-label>
        <span matPrefix class="icon-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faInfo"></fa-icon>
        </span>
        <input matInput
               type="text"
               formControlName="name"
               placeholder="Name">
        <mat-error *ngIf="form.error.name">
          {{ form.error.name[0] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Budget -->
    <div *ngIf="!isEditing">
      <mat-form-field class="w-100">
        <mat-label>Budget</mat-label>
        <span matPrefix class="icon-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faBudget"></fa-icon>
        </span>
        <input matInput
               placeholder="Enter budget"
               formControlName="budget"
               autocomplete="off"
               type="number"
               [step]="1"
               [min]="0">
        <span matSuffix class="budget-suffix ">
          <span class="fw-bold">{{ currency }}</span>
        </span>
        <mat-error *ngIf="form.error.budget">
          {{ form.error.budget[0] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Icon -->
    <div class="form-group">
      <label for="icon">Icon</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faIcons"></fa-icon>
        </div>
        <app-select id="icon"
                    selectLabel="Select icon"
                    [selectedId]="form.form.get('icon').value"
                    [items]="icons"
                    (choose)="form.form.get('icon').setValue($event.icon)">
        </app-select>
        <div class="invalid-tooltip" *ngIf="form.error.icon">{{ form.error.icon[0] }}</div>
      </div>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label for="color">Color</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faPaint"></fa-icon>
        </div>
        <app-select-color id="color" [selected]="form.form.get('color').value"
                          (choose)="form.form.get('color').setValue($event)"></app-select-color>
        <div class="invalid-tooltip" *ngIf="form.error.color">{{ form.error.color[0] }}</div>
      </div>
    </div>

    <!-- Archive -->
    <div class="pt-3">
      <mat-slide-toggle formControlName="archive" id="archive">Archive and hide from the list</mat-slide-toggle>
    </div>

    <!-- Extra details toggle -->
    <a class="d-block fw-bold text-secondary mt-5 mb-4 text-uppercase"
       (click)="showExtraDetails = !showExtraDetails">
      <span>Extra Details</span>
      <fa-icon class="float-end" [icon]="faCollapse" [flip]="showExtraDetails ? 'vertical' : null"></fa-icon>
    </a>

    <!-- Extra details -->
    <div [collapse]="!showExtraDetails">

      <!-- Start -->
      <div class="mb-3">
      <mat-form-field class="w-100">
        <mat-label>Start</mat-label>
        <span matPrefix class="icon-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faTime"></fa-icon>
        </span>
        <input matInput
               type="datetime-local"
               formControlName="start">
        <mat-error *ngIf="form.error.start">
          {{ form.error.start[0] }}
        </mat-error>
      </mat-form-field>
    </div>

      <!-- End -->
      <div class="mb-3">
        <mat-form-field class="w-100">
          <mat-label>End</mat-label>
          <span matPrefix class="icon-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faTime"></fa-icon>
        </span>
          <input matInput
                 type="datetime-local"
                 formControlName="end">
          <mat-error *ngIf="form.error.end">
            {{ form.error.end[0] }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Note -->
      <mat-form-field class="w-100">
        <mat-label>Note</mat-label>
        <span matPrefix class="icon-note align-items-baseline">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faNote"></fa-icon>
        </span>
        <textarea matInput [rows]="3"
                  formControlName="note"
                  placeholder="Write a note">
        </textarea>
        <mat-error *ngIf="form.error.note">
          {{ form.error.note[0] }}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<!-- Footer -->
<div class="modal-footer text-end">

  <!-- Delete -->
  <a class="text-danger me-auto" *ngIf="isEditing" (click)="delete(event)">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button mat-button class="mx-2" (click)="modal.hide()">Cancel</button>

  <!-- Submit -->
  <button mat-flat-button
          color="primary"
          [disabled]="form.loading || form.form.invalid"
          (click)="submit()">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>
