<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span mat-dialog-title>{{ isEditing ? 'Edit' : 'Add' }} Wallet</span>

  <!-- Close -->
  <button mat-button class="text-secondary mb-4" mat-dialog-close>
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Body -->
<mat-dialog-content *ngIf="form.form">
  <form [formGroup]="form.form" (ngSubmit)="submit()">

    <!-- Name -->
    <label class="label2">Name</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Name</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faInfo"></fa-icon>
      </span>
      <input matInput
             type="text"
             formControlName="name"
             placeholder="Name">
      <mat-error *ngIf="form.error.name">{{ form.error.name[0] }}</mat-error>
    </mat-form-field>

    <!-- Initial balance -->
    <div *ngIf="!isEditing">
      <label class="label2">Initial Balance</label>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Initial Balance</mat-label>
        <span matPrefix class="icon-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faAmount"></fa-icon>
        </span>
        <input matInput
               placeholder="Enter amount"
               formControlName="initial_balance"
               autocomplete="off"
               type="number">
        <span matSuffix class="currency-suffix"><span class="fw-bold">{{ currency }}</span></span>
        <mat-error *ngIf="form.error.initial_balance">{{ form.error.initial_balance[0] }}</mat-error>
      </mat-form-field>
    </div>

    <!-- Icon -->
    <div class="form-group">
      <label for="icon">Icon</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faIcons"></fa-icon>
        </div>
        <app-select id="icon"
                    selectLabel="Select icon"
                    [items]="icons"
                    [selectedId]="form.form.get('icon').value"
                    (choose)="form.form.get('icon').setValue($event.icon)">
        </app-select>
        <mat-error class="invalid-tooltip" *ngIf="form.error.icon">{{ form.error.icon[0] }}</mat-error>
      </div>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label for="color">Color</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faPaint"></fa-icon>
        </div>
        <app-select-color id="color" [selected]="form.form.get('color').value"
                          (choose)="form.form.get('color').setValue($event)">
        </app-select-color>
        <mat-error class="invalid-tooltip" *ngIf="form.error.color">{{ form.error.color[0] }}</mat-error>
      </div>
    </div>

    <!-- Archive -->
    <div class="form-group">
      <label for="archive">Archive</label>
      <div>
        <mat-slide-toggle formControlName="archive"
                          id="archive"
                          class="small">
          Archive and hide from the list
        </mat-slide-toggle>
      </div>
    </div>
  </form>
</mat-dialog-content>

<!-- Footer -->
<div class="modal-footer text-end" *ngIf="form.form">

  <!-- Delete -->
  <button mat-button
          class="text-danger me-auto"
          *ngIf="isEditing"
          (click)="delete(data.wallet)"
          [mat-dialog-close]="true">
          <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </button>

  <!-- Cancel -->
  <button mat-button class="mx-2" mat-dialog-close>Cancel</button>

  <!-- Submit -->
  <button mat-flat-button
          color="primary"
          [disabled]="form.loading || form.form.invalid"
          (click)="submit()"
          [mat-dialog-close]="true">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>
