@import "src/variables";

.icon-prefix {
  margin-right: map_get($spacers, 2);
  position: relative;
  top: -6px;
}

.currency-suffix {
  margin-left: map_get($spacers, 2);
  position: relative;
  top: -6px;
}






