<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span>{{ isEditing ? 'Edit' : 'Add' }} Wallet</span>

  <!-- Close -->
  <button class="ml-auto btn btn-light" (click)="modal.hide()">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Body -->
<div class="modal-body pb-0">
  <form [formGroup]="form.form" (ngSubmit)="submit()" *ngIf="form.form">

    <!-- Name -->
    <div class="form-group">
      <label for="name">Name</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faInfo"></fa-icon>
        </div>
        <input type="text" id="name" class="form-control" formControlName="name"
               placeholder="Name" [class.is-invalid]="form.error.name">
        <div class="invalid-tooltip" *ngIf="form.error.name">{{ form.error.name[0] }}</div>
      </div>
    </div>

    <!-- Icon -->
    <div class="form-group">
      <label for="icon">Icon</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faIcons"></fa-icon>
        </div>
        <app-select id="icon"
                    selectLabel="Select icon"
                    [items]="icons"
                    (choose)="form.form.get('icon').setValue($event.icon)">
        </app-select>
        <div class="invalid-tooltip" *ngIf="form.error.icon">{{ form.error.icon[0] }}</div>
      </div>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label for="color">Color</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faPaint"></fa-icon>
        </div>
        <app-select-color id="color" [selected]="form.form.get('color').value"
                          (choose)="form.form.get('color').setValue($event)"></app-select-color>
        <div class="invalid-tooltip" *ngIf="form.error.color">{{ form.error.color[0] }}</div>
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<div class="modal-footer text-right">

  <!-- Delete -->
  <a class="text-danger mr-auto" *ngIf="isEditing" (click)="delete(wallet)">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button class="btn btn-light" (click)="modal.hide()">Cancel</button>

  <!-- Submit -->
  <button class="btn btn-primary" [disabled]="form.loading || form.form.invalid" (click)="submit()">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>
