.label2{
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 0.875em;
  display: inline-block;
  color: #808e9b;
  margin-bottom: 0.5rem;
}

.icon-prefix {
  margin-right: 8px;
  position: relative;
  top: -6px;
}

.currency-suffix {
  margin-left: 8px;
  position: relative;
  top: -6px;
}
