<div class="container mb-4">
  <div class="row">
    <div class="col-xl-4" *ngFor="let profile of profiles">
      <div class="card bg-light mt-4" [title]="profile.note">
        <div class="card-header">
          <span class="font-weight-bold">{{ profile.name }}</span>
          <button class="btn btn-sm ml-auto" (click)="select(profile)"
                  [class.btn-link]="profile.id === profileSelected.id"
                  [class.btn-primary]="profile.id !== profileSelected.id"
                  [disabled]="profile.id === profileSelected.id">
            {{ profile.id === profileSelected.id ? 'Selected' : 'Select' }}
          </button>
        </div>
        <div class="card-body">
          <div class="mb-2">
            <span>Currency</span>
            <span class="float-right">{{ profile.currency }}</span>
          </div>
          <div>
            <span>Balance</span>
            <span class="float-right">
              <span title="Expense" class="text-danger">{{ profile.balance.expense | currency }}</span>
              <span title="Income" class="mx-3">{{ profile.balance.income | currency }}</span>
              <span title="Total" class="text-secondary">{{ profile.balance.total | currency }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card bg-light mt-4" [style.height]="'156px'">
        <div class="card-body d-flex align-items-center justify-content-center">
          <a class="btn btn-light font-weight-bold" routerLink="/user/profile/add">ADD PROFILE</a>
        </div>
      </div>
    </div>
  </div>
</div>
