<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span>{{ isEditing ? 'Edit' : 'New' }} Transaction</span>

  <!-- Close -->
  <button (click)="modal.hide()" class="ms-auto btn btn-link">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Body -->
<div *ngIf="!noWallets" class="modal-body pb-0">
  <form (ngSubmit)="submit()" *ngIf="form.form" [formGroup]="form.form">

    <!-- Kind -->
    <div class="form-group btn-group d-flex justify-content-center text-uppercase" title="Transaction Type">
      <div (click)="setExpenseKind(expenseKind.INCOME)"
           [class.btn-light]="expenseKindSelected !== expenseKind.INCOME"
           [class.btn-primary]="expenseKindSelected === expenseKind.INCOME"
           class="btn fw-bold">
        <span>Income</span>
      </div>
      <div (click)="setExpenseKind(expenseKind.EXPENSE)"
           [class.btn-danger]="expenseKindSelected === expenseKind.EXPENSE"
           [class.btn-light]="expenseKindSelected !== expenseKind.EXPENSE"
           class="btn fw-bold">
        <span>Expense</span>
      </div>
      <div (click)="setExpenseKind(expenseKind.TRANSFER)"
           [class.btn-light]="expenseKindSelected !== expenseKind.TRANSFER"
           [class.btn-secondary]="expenseKindSelected === expenseKind.TRANSFER"
           class="btn fw-bold">
        <span>Transfer</span>
      </div>
    </div>

    <!-- Wallet -->
    <div class="form-group">
      <label for="wallet">Wallet</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faWallet" class="input-group-text"></fa-icon>
        </div>
        <app-select (add)="addWallet()"
                    (choose)="form.form.get('wallet').setValue($event.id); walletInlineStorage.value = $event.id"
                    [items]="wallets"
                    [selectedId]="form.form.get('wallet').value"
                    [showAdd]="true"
                    id="wallet"
                    selectLabel="Select wallet">
        </app-select>
        <div *ngIf="form.error.wallet" class="invalid-tooltip">{{ form.error.wallet[0] }}</div>
      </div>
    </div>

    <!-- Into (wallet) -->
    <div *ngIf="expenseKindSelected === expenseKind.TRANSFER" class="form-group">
      <label for="into">Into Wallet</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faWallet" class="input-group-text"></fa-icon>
        </div>
        <app-select (choose)="form.form.get('into').setValue($event.id)"
                    [items]="wallets"
                    [selectedId]="form.form.get('into').value"
                    id="into"
                    selectLabel="Select wallet to transfer into">
        </app-select>
        <div *ngIf="form.error.into" class="invalid-tooltip">{{ form.error.into[0] }}</div>
      </div>
    </div>

    <!-- Category -->
    <div *ngIf="expenseKindSelected !== expenseKind.TRANSFER" class="form-group">
      <label for="category">Category</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faCategory" class="input-group-text"></fa-icon>
        </div>
        <app-select (add)="addCategory()"
                    (choose)="form.form.get('category').setValue($event.id)"
                    *ngIf="categories"
                    [items]="categoryGroups[expenseKindSelected]"
                    [selectedId]="form.form.get('category').value"
                    [showAdd]="true"
                    id="category"
                    selectLabel="Select category">
        </app-select>
        <div *ngIf="form.error.category" class="invalid-tooltip">{{ form.error.category[0] }}</div>
      </div>
    </div>

    <!-- Tags -->
    <div class="form-group">
      <label for="tags">Tags</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faTag" class="input-group-text"></fa-icon>
        </div>
        <app-select (add)="addTag()"
                    (choose)="onTagSelect($event.id)"
                    (clear)="form.form.patchValue({ tags:[] })"
                    *ngIf="categories"
                    [allowClear]="true"
                    [items]="tags"
                    [showAdd]="true"
                    [showSelected]="false"
                    id="tags"
                    selectLabel="Select tags">
        </app-select>
        <div *ngIf="form.error.category" class="invalid-tooltip">{{ form.error.tags[0] }}</div>
      </div>
      <div *ngIf="form.form && tagsDict" class="tags-preview">
        <a (click)="onTagSelect(tag)"
           *ngFor="let tag of form.form.value['tags']"
           class="badge bg-secondary me-1 mt-1 py-2 py-lg-1"
           title="Click to remove">
          {{ tagsDict[tag].name }}
        </a>
      </div>
    </div>

    <!-- Amount -->
    <div class="form-group">
      <label for="amount">Amount</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faAmount" class="input-group-text"></fa-icon>
        </div>
        <input [class.is-invalid]="form.error.amount"
               [min]="0"
               [step]="1"
               autocomplete="off"
               class="form-control"
               formControlName="amount"
               id="amount"
               placeholder="Enter amount"
               type="number">
        <div class="input-group-text w-auto"><span class="input-group-text fw-bold">{{ currency }}</span></div>
        <div *ngIf="form.error.amount" class="invalid-tooltip">{{ form.error.amount[0] }}</div>
      </div>
    </div>

    <!-- Time -->
    <div class="form-group">
      <label for="time">Time</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faTime" class="input-group-text"></fa-icon>
        </div>
        <input [class.is-invalid]="form.error.time"
               class="form-control"
               formControlName="time"
               id="time"
               type="datetime-local">
        <div *ngIf="form.error.time" class="invalid-tooltip">{{ form.error.time[0] }}</div>
      </div>
    </div>

    <!-- Extra details toggle -->
    <a (click)="showExtraDetails = !showExtraDetails"
       class="d-block fw-bold text-secondary mt-5 mb-3 text-uppercase">
      <span>Extra Details</span>
      <fa-icon [flip]="showExtraDetails ? 'vertical' : null" [icon]="faCollapse" class="float-end"></fa-icon>
    </a>

    <!-- Extra details -->
    <div [collapse]="!showExtraDetails">

      <!-- Event -->
      <div class="form-group">
        <label for="event">Event</label>
        <div class="input-group">
          <div class="input-group-text">
            <fa-icon [fixedWidth]="true" [icon]="faEvent" class="input-group-text"></fa-icon>
          </div>
          <app-select (add)="addEvent()"
                      (choose)="form.form.get('event').setValue($event.id)"
                      (clear)="form.form.get('event').reset()"
                      [allowClear]="true"
                      [items]="events"
                      [selectedId]="form.form.get('event').value"
                      [showAdd]="true"
                      id="event"
                      selectLabel="Select event">
          </app-select>
          <div *ngIf="form.error.event" class="invalid-tooltip">{{ form.error.event[0] }}</div>
        </div>
      </div>

      <!-- Note -->
      <div class="form-group">
        <label for="note">Note</label>
        <div class="input-group">
          <div class="input-group-text">
            <fa-icon [fixedWidth]="true" [icon]="faNote" class="input-group-text"></fa-icon>
          </div>
          <textarea [class.is-invalid]="form.error.note"
                    [rows]="3"
                    class="form-control"
                    formControlName="note"
                    id="note"
                    placeholder="Write a note">
          </textarea>
          <div *ngIf="form.error.note" class="invalid-tooltip">{{ form.error.note[0] }}</div>
        </div>
      </div>

      <!-- Archive -->
      <div class="form-group">
        <label for="archive">Archive</label>
        <div class="form-check form-switch position-static">
          <input class="form-check-input" formControlName="archive" id="archive" type="checkbox">
          <label class="form-check-label" for="archive">Archive and hide from the list</label>
        </div>
      </div>

      <!-- Exclude -->
      <div class="form-group">
        <label for="exclude">Exclude</label>
        <div class="form-check form-switch position-static">
          <input class="form-check-input" formControlName="exclude" id="exclude" type="checkbox">
          <label class="form-check-label" for="exclude">Exclude from the reports</label>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<div *ngIf="!noWallets" class="modal-footer text-end">

  <!-- Delete -->
  <a (click)="delete(transaction)" *ngIf="isEditing" class="text-danger me-auto">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button (click)="modal.hide()" class="btn btn-light">Cancel</button>

  <!-- Submit -->
  <button (click)="submit()" [disabled]="form.loading || form.form.invalid" class="btn btn-primary">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>

<!-- Body (when no wallets) -->
<div *ngIf="noWallets" class="modal-body">
  <p class="fw-bold text-warning">No Wallets 😮</p>
  <p>You don't have any wallets for your profile.</p>
  <button (click)="addWallet(); modal.hide();" class="btn btn-primary">Add Wallet</button>
</div>
