<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span>{{ isEditing ? 'Edit' : 'New' }} Transaction</span>

  <!-- Close -->
  <button (click)="modal.hide()" class="ms-auto btn btn-link">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Body -->
<div *ngIf="!noWallets" class="modal-body">
  <form (ngSubmit)="submit()" *ngIf="form.form" [formGroup]="form.form">

    <!-- Kind -->
    <div class="pb-4 kind" title="Transaction Type">
      <mat-button-toggle-group appearance="legacy" class="w-100" name="Type">
        <mat-button-toggle class="btn btn-toggle fw-bold w-100 py-0"
                           (click)="setExpenseKind(expenseKind.INCOME)"
                           [class.btn-light]="expenseKindSelected !== expenseKind.INCOME"
                           [class.btn-primary]="expenseKindSelected === expenseKind.INCOME">
          INCOME
        </mat-button-toggle>
        <mat-button-toggle class="btn btn-toggle fw-bold w-100 py-0"
                           value="EXPENSE"
                           (click)="setExpenseKind(expenseKind.EXPENSE)"
                           [class.btn-danger]="expenseKindSelected === expenseKind.EXPENSE"
                           [class.btn-light]="expenseKindSelected !== expenseKind.EXPENSE"
                           [checked]="true">
          EXPENSE
        </mat-button-toggle>
        <mat-button-toggle class="btn btn-toggle fw-bold w-100 py-0"
                           value="EXPENSE"
                           (click)="setExpenseKind(expenseKind.TRANSFER)"
                           [class.btn-light]="expenseKindSelected !== expenseKind.TRANSFER"
                           [class.btn-secondary]="expenseKindSelected === expenseKind.TRANSFER">
          TRANSFER
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Wallet -->
    <div class="form-group">
      <label for="wallet">Wallet</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faWallet" class="input-group-text"></fa-icon>
        </div>
        <app-select (add)="addWallet()"
                    (choose)="form.form.get('wallet').setValue($event.id); walletInlineStorage.value = $event.id"
                    [items]="wallets"
                    [selectedId]="form.form.get('wallet').value"
                    [showAdd]="true"
                    id="wallet"
                    selectLabel="Select wallet">
        </app-select>
        <div *ngIf="form.error.wallet" class="invalid-tooltip">{{ form.error.wallet[0] }}</div>
      </div>
    </div>

    <!-- Into (wallet) -->
    <div *ngIf="expenseKindSelected === expenseKind.TRANSFER" class="form-group">
      <label for="into">Into Wallet</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faWallet" class="input-group-text"></fa-icon>
        </div>
        <app-select (choose)="form.form.get('into').setValue($event.id)"
                    [items]="wallets"
                    [selectedId]="form.form.get('into').value"
                    id="into"
                    selectLabel="Select wallet to transfer into">
        </app-select>
        <div *ngIf="form.error.into" class="invalid-tooltip">{{ form.error.into[0] }}</div>
      </div>
    </div>

    <!-- Category -->
    <div *ngIf="expenseKindSelected !== expenseKind.TRANSFER" class="form-group">
      <label for="category">Category</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faCategory" class="input-group-text"></fa-icon>
        </div>
        <app-select (add)="addCategory()"
                    (choose)="form.form.get('category').setValue($event.id)"
                    *ngIf="categories"
                    [items]="categoryGroups[expenseKindSelected]"
                    [selectedId]="form.form.get('category').value"
                    [showAdd]="true"
                    id="category"
                    selectLabel="Select category">
        </app-select>
        <div *ngIf="form.error.category" class="invalid-tooltip">{{ form.error.category[0] }}</div>
      </div>
    </div>

    <!-- Tags -->
    <div class="form-group">
      <label for="tags">Tags</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon [fixedWidth]="true" [icon]="faTag" class="input-group-text"></fa-icon>
        </div>
        <app-select (add)="addTag()"
                    (choose)="onTagSelect($event.id)"
                    (clear)="form.form.patchValue({ tags:[] })"
                    *ngIf="categories"
                    [allowClear]="true"
                    [items]="tags"
                    [showAdd]="true"
                    [showSelected]="false"
                    id="tags"
                    selectLabel="Select tags">
        </app-select>
        <div *ngIf="form.error.category" class="invalid-tooltip">{{ form.error.tags[0] }}</div>
      </div>
      <div *ngIf="form.form && tagsDict" class="tags-preview">
        <a (click)="onTagSelect(tag)"
           *ngFor="let tag of form.form.value['tags']"
           class="badge bg-secondary me-1 mt-1 py-2 py-lg-1"
           title="Click to remove">
          {{ tagsDict[tag].name }}
        </a>
      </div>
    </div>

    <!-- Amount -->
      <mat-form-field class="w-100 mt-3">
        <mat-label>Amount</mat-label>
        <span matPrefix class="icon-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faAmount"></fa-icon>
        </span>
        <input matInput
               placeholder="Enter amount"
               formControlName="amount"
               autocomplete="off"
               type="number"
               [step]="1"
               [min]="0">
        <span matSuffix class="budget-suffix">
          <span class="fw-bold">{{ currency }}</span>
        </span>
        <mat-error *ngIf="form.error.amount">
          {{ form.error.amount[0] }}
        </mat-error>
      </mat-form-field>

    <!-- Time -->
    <div class="mt-3">
      <mat-form-field class="w-100">
        <mat-label>Time</mat-label>
        <span matPrefix class="icon-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faTime"></fa-icon>
        </span>
        <input matInput
               type="datetime-local"
               formControlName="time">
        <mat-error *ngIf="form.error.time">
          {{ form.error.time[0] }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Extra details toggle -->
    <a (click)="showExtraDetails = !showExtraDetails"
       class="d-block fw-bold text-secondary mt-5 mb-3 text-uppercase">
      <span>Extra Details</span>
      <fa-icon [flip]="showExtraDetails ? 'vertical' : null" [icon]="faCollapse" class="float-end"></fa-icon>
    </a>

    <!-- Extra details -->
    <div [collapse]="!showExtraDetails">

      <!-- Event -->
      <div class="form-group">
        <label for="event">Event</label>
        <div class="input-group">
          <div class="input-group-text">
            <fa-icon [fixedWidth]="true" [icon]="faEvent" class="input-group-text"></fa-icon>
          </div>
          <app-select (add)="addEvent()"
                      (choose)="form.form.get('event').setValue($event.id)"
                      (clear)="form.form.get('event').reset()"
                      [allowClear]="true"
                      [items]="events"
                      [selectedId]="form.form.get('event').value"
                      [showAdd]="true"
                      id="event"
                      selectLabel="Select event">
          </app-select>
          <div *ngIf="form.error.event" class="invalid-tooltip">{{ form.error.event[0] }}</div>
        </div>
      </div>

      <!-- Note -->
      <mat-form-field class="w-100">
        <mat-label>Note</mat-label>
        <span matPrefix class="icon-note align-items-baseline">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faNote"></fa-icon>
        </span>
        <textarea matInput [rows]="3"
                  formControlName="note"
                  placeholder="Write a note">
        </textarea>
        <mat-error *ngIf="form.error.note">
          {{ form.error.note[0] }}
        </mat-error>
      </mat-form-field>

      <!-- Archive -->
      <div class="pt-3">
        <mat-slide-toggle formControlName="archive">Archive and hide from the list</mat-slide-toggle>
      </div>

      <!-- Exclude -->
      <div class="pt-3">
        <mat-slide-toggle formControlName="exclude">Exclude from the reports</mat-slide-toggle>
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<div *ngIf="!noWallets" class="modal-footer text-end">

  <!-- Delete -->
  <a (click)="delete(transaction)" *ngIf="isEditing" class="text-danger me-auto">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button mat-button class="mx-2" (click)="modal.hide()">Cancel</button>

  <!-- Submit -->
  <button mat-flat-button
          class="btn btn-primary"
          [disabled]="form.loading || form.form.invalid"
          (click)="submit()">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>

<!-- Body (when no wallets) -->
<div *ngIf="noWallets" class="modal-body">
  <p class="fw-bold text-warning">No Wallets 😮</p>
  <p>You don't have any wallets for your profile.</p>
  <button (click)="addWallet(); modal.hide();" class="btn btn-primary">Add Wallet</button>
</div>
