$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrows: "\e900";
$icon-movie: "\e901";
$icon-gift: "\e902";
$icon-dice: "\e903";
$icon-bank: "\e904";
$icon-credit-card: "\e905";
$icon-couple: "\e90a";
$icon-globe: "\e90c";
$icon-health: "\e90d";
$icon-price-ribbon: "\e90e";
$icon-trophy: "\e910";
$icon-shoe: "\e911";
$icon-football: "\e912";
$icon-billiard-ball: "\e913";
$icon-bowling: "\e914";
$icon-mail: "\e915";
$icon-wallet: "\e916";
$icon-money: "\e917";
$icon-shirt: "\e918";
$icon-food: "\e91a";
$icon-gas: "\e91b";
$icon-dollar-off: "\e91c";
$icon-dollar: "\e91d";
$icon-haircut: "\e91e";
$icon-laptop: "\e91f";
$icon-school: "\e920";
$icon-fastfood: "\e921";
$icon-cake: "\e922";
$icon-burger: "\e923";
$icon-tea: "\e924";
$icon-children: "\e925";
$icon-bus: "\e926";
$icon-people: "\e927";
$icon-bike: "\e928";
$icon-car: "\e929";
$icon-phone: "\e92a";
$icon-paw: "\e92b";
$icon-book: "\e92c";
$icon-cc-visa: "\e92d";
$icon-cc-mastercard: "\e92e";
$icon-cc-paypal: "\e92f";
$icon-train: "\e930";
$icon-taxi: "\e931";
$icon-money2: "\e932";
$icon-tv: "\e933";
$icon-tree: "\e934";
$icon-truck: "\e935";
$icon-home: "\e936";
$icon-ticket: "\e937";
$icon-basket: "\e938";
$icon-box: "\e939";
$icon-bag: "\e93a";
$icon-cart: "\e93b";
$icon-eye-off: "\e93c";
$icon-repair: "\e93d";
$icon-beer: "\e93e";
$icon-coffee: "\e93f";
$icon-drink1: "\e940";
$icon-coffee2: "\e941";
$icon-drink2: "\e942";
$icon-drink: "\e943";
$icon-gamepad: "\e944";
$icon-pacman: "\e945";
$icon-money-bag: "\e946";
$icon-safe: "\e947";
$icon-coins: "\e948";
$icon-money3: "\e949";
$icon-money1: "\e94a";
$icon-wallet1: "\e94b";
$icon-discount: "\e94c";
$icon-ice-cream: "\e94d";
$icon-plane: "\e94e";
$icon-medicine: "\e94f";
$icon-suitcase: "\e950";
$icon-map: "\e951";
$icon-tie: "\e952";
$icon-diamond: "\e953";
$icon-juice: "\e954";
$icon-heart: "\e955";

