$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-transfer: "\e955";
$icon-arrows: "\e955";
$icon-movie: "\e900";
$icon-video: "\e900";
$icon-dice: "\e901";
$icon-game: "\e901";
$icon-chance: "\e901";
$icon-luck: "\e901";
$icon-random: "\e901";
$icon-gample: "\e901";
$icon-library: "\e902";
$icon-bank: "\e902";
$icon-building: "\e902";
$icon-credit-card: "\e903";
$icon-money: "\e903";
$icon-payment: "\e903";
$icon-ecommerce: "\e903";
$icon-coin-yen: "\e904";
$icon-money3: "\e904";
$icon-cash1: "\e904";
$icon-currency-yen: "\e904";
$icon-coin-pound: "\e905";
$icon-money6: "\e905";
$icon-cash3: "\e905";
$icon-currency-pound: "\e905";
$icon-coin-euro: "\e906";
$icon-money8: "\e906";
$icon-cash4: "\e906";
$icon-currency-euro: "\e906";
$icon-coin-dollar: "\e907";
$icon-money10: "\e907";
$icon-cash5: "\e907";
$icon-currency-dollar: "\e907";
$icon-man-woman: "\e908";
$icon-toilet: "\e908";
$icon-bathroom: "\e908";
$icon-sex: "\e908";
$icon-gender: "\e908";
$icon-spades: "\e909";
$icon-cards: "\e909";
$icon-poker: "\e909";
$icon-earth: "\e90a";
$icon-globe: "\e90a";
$icon-language: "\e90a";
$icon-web: "\e90a";
$icon-internet: "\e90a";
$icon-sphere: "\e90a";
$icon-planet: "\e90a";
$icon-aid-kit: "\e90b";
$icon-health: "\e90b";
$icon-medicine: "\e90b";
$icon-medical: "\e90b";
$icon-fork-and-spoon: "\e90c";
$icon-lunch1: "\e90c";
$icon-food1: "\e90c";
$icon-restaurant: "\e90c";
$icon-meal: "\e90c";
$icon-dinner: "\e90c";
$icon-bowl: "\e90d";
$icon-sports-shoe: "\e956";
$icon-soccer-ball: "\e90e";
$icon-billiard-ball: "\e90f";
$icon-bowling-pins: "\e910";
$icon-mail: "\e911";
$icon-email: "\e911";
$icon-letter: "\e911";
$icon-envelope: "\e911";
$icon-contact: "\e911";
$icon-wallet: "\e912";
$icon-money1: "\e912";
$icon-cash: "\e912";
$icon-banknote: "\e913";
$icon-check: "\e913";
$icon-bill: "\e913";
$icon-money4: "\e913";
$icon-cash2: "\e913";
$icon-t-shirt: "\e914";
$icon-team: "\e914";
$icon-group: "\e914";
$icon-food: "\e915";
$icon-lunch: "\e915";
$icon-soup: "\e915";
$icon-mug: "\e916";
$icon-drink: "\e916";
$icon-coffee1: "\e917";
$icon-cup: "\e917";
$icon-drink2: "\e917";
$icon-break: "\e917";
$icon-drink3: "\e918";
$icon-drink4: "\e919";
$icon-drink5: "\e91a";
$icon-drink6: "\e91b";
$icon-straw1: "\e91b";
$icon-glass1: "\e91b";
$icon-gamepad: "\e91c";
$icon-joystick: "\e91c";
$icon-pacman: "\e91d";
$icon-game1: "\e91d";
$icon-money-bag: "\e91e";
$icon-sack-dollar: "\e91e";
$icon-bag: "\e91e";
$icon-safe: "\e91f";
$icon-money5: "\e91f";
$icon-coins: "\e920";
$icon-money7: "\e920";
$icon-dollar: "\e921";
$icon-bill1: "\e921";
$icon-money9: "\e921";
$icon-stack: "\e921";
$icon-dollar1: "\e922";
$icon-bill2: "\e922";
$icon-money11: "\e922";
$icon-wallet1: "\e923";
$icon-money12: "\e923";
$icon-discout: "\e924";
$icon-price: "\e924";
$icon-sale: "\e924";
$icon-tag: "\e924";
$icon-money-bag1: "\e925";
$icon-sack-dollar1: "\e925";
$icon-bag1: "\e925";
$icon-ice-cream: "\e926";
$icon-cone: "\e926";
$icon-plane: "\e927";
$icon-fly: "\e927";
$icon-flight: "\e927";
$icon-airplane: "\e927";
$icon-travel: "\e927";
$icon-pil: "\e928";
$icon-drug: "\e928";
$icon-medicine1: "\e928";
$icon-suitcase: "\e929";
$icon-briefcase: "\e929";
$icon-map: "\e92a";
$icon-location: "\e92a";
$icon-address: "\e92a";
$icon-tie: "\e92b";
$icon-diamond: "\e92c";
$icon-gem: "\e92c";
$icon-drink1: "\e92d";
$icon-straw: "\e92d";
$icon-glass: "\e92d";
$icon-heart: "\e92e";
$icon-love: "\e92e";
$icon-like: "\e92e";
$icon-money_off: "\e92f";
$icon-attach_money1: "\e930";
$icon-content_cut: "\e931";
$icon-laptop_chromebook: "\e932";
$icon-school: "\e933";
$icon-fastfood: "\e934";
$icon-cake: "\e935";
$icon-lunch_dining: "\e936";
$icon-emoji_food_beverage1: "\e937";
$icon-fastfood1: "\e938";
$icon-child_friendly: "\e939";
$icon-attach_money: "\e93a";
$icon-directions_bus: "\e93b";
$icon-people_alt: "\e93c";
$icon-directions_bike: "\e93d";
$icon-directions_car: "\e93e";
$icon-stay_current_portrait: "\e93f";
$icon-stay_primary_portrait: "\e93f";
$icon-smartphone: "\e93f";
$icon-emoji_food_beverage: "\e940";
$icon-local_drink: "\e941";
$icon-box: "\e942";
$icon-shopping-bag: "\e943";
$icon-shopping-cart: "\e944";
$icon-eye-off: "\e945";
$icon-coffee: "\e946";
$icon-paw: "\e957";
$icon-book: "\e947";
$icon-cc-visa: "\e948";
$icon-cc-mastercard: "\e949";
$icon-cc-paypal: "\e94a";
$icon-train: "\e94b";
$icon-cab: "\e94c";
$icon-taxi: "\e94c";
$icon-money2: "\e94d";
$icon-television: "\e94e";
$icon-tv: "\e94e";
$icon-tree: "\e94f";
$icon-truck: "\e950";
$icon-home: "\e951";
$icon-ticket: "\e952";
$icon-shopping-basket: "\e953";
$icon-beer: "\e954";

