<div class="container py-3" *ngIf="(!event && !error) || (!event && error)">

  <!-- Loading -->
  <app-loading classes="my-3" *ngIf="!event && !error"></app-loading>

  <!-- Not found -->
  <app-not-found classes="my-3" name="event" *ngIf="!event && error"></app-not-found>
</div>

<!-- Data -->
<div class="container py-3" *ngIf="event">
  <div class="row">

    <!-- Info (left) -->
    <div class="col-lg-6">

      <!-- Event -->
      <p class="font-weight-bold m-0">Event</p>
      <app-event-list columnClass="col-12" [events]="[event]"></app-event-list>

      <!-- Budget -->
      <hr>
      <p class="font-weight-bold">Budget</p>
      <p>{{ event.budget ? (event.budget | profileCurrency) : 'Not set' }}</p>

      <!-- Transactions (count) -->
      <hr>
      <p class="font-weight-bold">Transactions</p>
      <p>{{ event.transactions_count | number }}</p>

      <!-- Transactions total -->
      <hr>
      <p class="font-weight-bold">Total</p>
      <p>{{ event.transactions_total | profileCurrency }}</p>

      <!-- Date (start and end) -->
      <hr>
      <p class="font-weight-bold">Date</p>
      <p>
        <ng-container *ngIf="!event.start && !event.end">Unspecified</ng-container>
        <ng-container *ngIf="event.start">
          <span>From </span>
          <abbr [title]="event.start | date:'short'">{{ event.start | date }} </abbr>
        </ng-container>
        <ng-container *ngIf="event.end">
          <span>to </span>
          <abbr [title]="event.end | date:'short'">{{ event.end | date }}</abbr>
        </ng-container>
        <span>.</span>
      </p>

      <!-- Archive message -->
      <div *ngIf="event.archive" class="text-warning">
        <hr>
        <p class="font-weight-bold">Archived</p>
        <p>This event is archived.</p>
      </div>

      <!-- Responsive separator -->
      <hr class="d-lg-none">
    </div>

    <!-- Transactions (right) -->
    <div class="col-lg-6">

      <!-- Header -->
      <p class="font-weight-bold mb-0">Transactions</p>

      <!-- Loading -->
      <app-loading *ngIf="!transactions"></app-loading>

      <!-- No data -->
      <app-no-data *ngIf="transactions && !transactions.length"></app-no-data>

      <!-- Transactions -->
      <app-transaction-list *ngIf="transactions && categories && wallets"
                            [categories]="categories"
                            [transactions]="transactions"
                            [wallets]="wallets"
                            columnClass="col-12">
      </app-transaction-list>


      <!-- Pagination -->
      <app-pager wrapperClass="mt-3"
                 *ngIf="transactions?.length"
                 [disabled]="!transactions || !wallets"
                 [apiResponse]="transactionsApiResponse"
                 [paramsToCombine]="transactionsFilter"
                 (pageChanged)="loadTransactions()">
      </app-pager>
    </div>
  </div>
</div>
