<!-- Form -->
<form [formGroup]="form.form" (ngSubmit)="submit()">

  <!-- Title and back link -->
  <p class="fw-bold mb-5">

    <!-- Back link -->
    <button mat-button routerLink="/" class="me-3 text-secondary">
      <fa-icon [icon]="faBack" [fixedWidth]="true"></fa-icon>
    </button>

    <!-- Title -->
    <span>Settings</span>
  </p>

  <!-- Email -->
  <label class="label2 ">Email</label>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" id="email" [value]="user.email" readonly>
  </mat-form-field>

  <!-- Username -->
  <label class="label2">Username</label>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput type="text" id="username" [value]="user.username" readonly>
  </mat-form-field>

  <!-- Display name -->
  <label class="label2">Name</label>
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" id="name"
          formControlName="display_name" [class.is-invalid]="form.error.display_name">
    <mat-error class="small text-danger" *ngIf="form.error.display_name">{{ form.error.display_name[0] }}</mat-error>
  </mat-form-field>

  <!-- Error -->
  <p class="text-danger" *ngIf="form.error.non_field_errors">{{ form.error.non_field_errors[0] }}</p>

  <!-- Button -->
  <button mat-flat-button class="btn w-100 btn-primary" [disabled]="form.loading">Save Changes</button>
</form>
