<div class="container-fluid bg-special py-2">
  <form [formGroup]="form.form" (ngSubmit)="submit()" class="card shadow">
    <div class="card-body p-5">
      <!-- Title -->
      <p class="font-weight-bold text-center mb-5">Add <span class="text-primary">Profile</span></p>
      <!-- Name -->
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name"
               formControlName="name" [class.is-invalid]="form.error.name">
        <p class="small text-danger" *ngIf="form.error.name">{{ form.error.name[0] }}</p>
      </div>
      <!-- Currency -->
      <div class="form-group">
        <select class="form-control custom-select" formControlName="currency" [class.is-invalid]="form.error.currency">
          <option [ngValue]="null">Currency</option>
          <option *ngFor="let currency of currencies" [ngValue]="currency.code">
            {{ currency.code }} ({{ currency.name }})
          </option>
        </select>
        <p class="small text-danger" *ngIf="form.error.currency">{{ form.error.currency[0] }}</p>
      </div>
      <!-- Note -->
      <div class="form-group">
        <textarea type="text" class="form-control" placeholder="Note" [rows]="2"
                  formControlName="currency" [class.is-invalid]="form.error.note">
        </textarea>
        <p class="small text-danger" *ngIf="form.error.note">{{ form.error.note[0] }}</p>
      </div>
      <!-- Error -->
      <p class="text-danger" *ngIf="form.error.non_field_errors">{{ form.error.non_field_errors[0] }}</p>
      <!-- Button -->
      <button class="btn btn-block btn-primary" [disabled]="form.loading">Add</button>
    </div>
  </form>
</div>
