<div class="container my-3" *ngIf="category && transactions">
  <div class="row">
    <div class="col-lg-6">
      <p class="font-weight-bold m-0">Category</p>
      <app-category-list [categories]="[category]"></app-category-list>
      <hr>
      <p class="font-weight-bold">Transactions</p>
      <div>{{ category.transactions_count | number }}</div>
      <hr>
      <p class="font-weight-bold">Total Spent</p>
      <div>{{ category.transactions_total | profileCurrency }}</div>
    </div>
    <div class="col-lg-6">
      <app-transaction-list [categories]="[category]"
                            [transactions]="transactions"
                            [wallets]="wallets"
                            columnClass="col-12">
      </app-transaction-list>
    </div>
  </div>
</div>
