<div class="container py-3" *ngIf="(!category && !error) || (!category && error)">

  <!-- Loading -->
  <app-loading classes="my-3" *ngIf="!category && !error"></app-loading>

  <!-- Not found -->
  <app-not-found classes="my-3" name="category" *ngIf="!category && error"></app-not-found>
</div>

<!-- Data -->
<div class="container py-3" *ngIf="category">
  <div class="row">
    <div class="col-lg-6">

      <!-- Category -->
      <p class="font-weight-bold m-0">Category</p>
      <app-category-list columnClass="col-12" [categories]="[category]"></app-category-list>

      <!-- Transactions count -->
      <hr>
      <p class="font-weight-bold">Transactions</p>
      <div>{{ category.transactions_count | number }}</div>

      <!-- Total spent -->
      <hr>
      <p class="font-weight-bold">Total Spent</p>
      <div>{{ category.transactions_total || 0 | profileCurrency }}</div>

      <!-- Archive message -->
      <div *ngIf="category.archive" class="text-warning">
        <hr>
        <p class="font-weight-bold">Archived</p>
        <p>This event is archived.</p>
      </div>

      <!-- Responsive separator -->
      <hr class="d-lg-none">
    </div>

    <!-- Transactions (right) -->
    <div class="col-lg-6">

      <!-- Header -->
      <p class="font-weight-bold mb-0">Transactions</p>

      <!-- Loading -->
      <app-loading *ngIf="!transactions"></app-loading>

      <!-- No data -->
      <app-no-data *ngIf="transactions && !transactions.length"></app-no-data>

      <!-- Transactions -->
      <app-transaction-list *ngIf="transactions && category && wallets"
                            [transactions]="transactions"
                            [categories]="[category]"
                            [wallets]="wallets"
                            columnClass="col-12">
      </app-transaction-list>

      <!-- Pagination -->
      <app-pager wrapperClass="mt-3"
                 *ngIf="transactions?.length"
                 [disabled]="!transactions || !wallets"
                 [apiResponse]="transactionsApiResponse"
                 [paramsToCombine]="transactionsFilter"
                 (pageChanged)="loadTransactions()">
      </app-pager>
    </div>
  </div>
</div>
