@import "src/variables";

.invalid-tooltip {
  position: relative;
}

th, td {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

}

td {
  padding-top: map_get($spacers, 1);
  padding-bottom: map_get($spacers, 1);
}

.mat-button{
  min-width: 0;
  padding: 0 12px;
}

.mat-flat-button{
  min-width: 0;
}
