<div class="container py-3">

  <!-- Header -->
  <div *ngIf="!notFound" class="fw-bold d-flex align-items-center mb-3">

    <!-- Page title -->
    <a class="text-secondary" routerLink="../list">Invoices</a>
    <fa-icon [fixedWidth]="true" [icon]="faBreadcrumbArrow" class="small mx-1 text-secondary"></fa-icon>
    <span [class.text-monospace]="form.id">{{ form.id ? form.data?.invoice_id : 'Add' }}</span>

    <!-- Badges -->
    <div *ngIf="form.data" class="ms-auto">
      <div class="ms-auto badge bg-secondary badge-pill px-3 me-2">
        Subtotal {{ form.data.subtotal | profileCurrency:currency }}
      </div>
      <div class="ms-auto badge bg-info badge-pill px-3">
        Total {{ form.data.total | profileCurrency:currency }}
      </div>
    </div>
  </div>

  <!-- Loading -->
  <app-loading *ngIf="!notFound && form.id && !form.data"></app-loading>

  <!-- Not found -->
  <app-not-found *ngIf="notFound" name="Invoice"></app-not-found>

  <!-- Form -->
  <form (ngSubmit)="submit()" *ngIf="!notFound" [formGroup]="form.form">

    <!-- Row 1 -->
    <div class="row">

      <!-- Information -->
      <div class="col-xl-4 mb-3">
        <div class="card h-100">
          <div class="card-header">Information</div>
          <div class="card-body pb-0">

            <!-- Invoice ID -->
            <div class="form-group">
              <label for="invoice_id">Invoice ID</label>
              <input [class.is-invalid]="form.error.invoice_id"
                     class="form-control"
                     formControlName="invoice_id"
                     id="invoice_id"
                     placeholder="Invoice ID">
              <div *ngIf="form.error.invoice_id" class="invalid-tooltip">{{ form.error.invoice_id[0] }}</div>
            </div>

            <!-- Company -->
            <div class="form-group">
              <label for="company">Company</label>
              <app-select (add)="addContact('company')"
                          (choose)="form.form.get('company').setValue($event.id)"
                          [items]="contacts"
                          [selectedId]="form.form.get('company').value"
                          [showAdd]="true"
                          id="company"
                          selectLabel="Select company">
              </app-select>
              <div *ngIf="form.error.company" class="invalid-tooltip">{{ form.error.company[0] }}</div>
            </div>

            <!-- Client -->
            <div class="form-group">
              <label for="client">Client</label>
              <app-select (add)="addContact('client')"
                          (choose)="form.form.get('client').setValue($event.id)"
                          [items]="contacts"
                          [selectedId]="form.form.get('client').value"
                          [showAdd]="true"
                          id="client"
                          selectLabel="Select client">
              </app-select>
              <div *ngIf="form.error.client" class="invalid-tooltip">{{ form.error.client[0] }}</div>
            </div>

            <!-- Note -->
            <div *ngIf="options.get('note').value" class="form-group">
              <label for="note">Note</label>
              <textarea [class.is-invalid]="form.error.note"
                        [rows]="4"
                        class="form-control"
                        formControlName="note"
                        id="note"
                        placeholder="Write a note"></textarea>
              <div *ngIf="form.error.note" class="invalid-tooltip">{{ form.error.note[0] }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Payment -->
      <div class="col-xl-4 mb-3">
        <div class="card h-100">
          <div class="card-header">Payment</div>
          <div class="card-body pb-0">

            <!-- Date -->
            <div *ngIf="options.get('date').value" class="form-group">
              <label for="date">Date</label>
              <input [class.is-invalid]="form.error.date"
                     class="form-control"
                     formControlName="date"
                     id="date"
                     type="date">
              <div *ngIf="form.error.date" class="form-error">{{ form.error.date[0] }}</div>
            </div>

            <!-- Due date -->
            <div *ngIf="options.get('due_date').value" class="form-group">
              <label for="due_date">Due Date</label>
              <input [class.is-invalid]="form.error.due_date"
                     class="form-control"
                     formControlName="due_date"
                     id="due_date"
                     type="date">
              <div *ngIf="form.error.due_date" class="form-error">{{ form.error.due_date[0] }}</div>
            </div>

            <!-- Discount and discount type -->
            <div *ngIf="options.get('discount').value" class="form-group">
              <label for="discount">Discount</label>
              <div class="input-group">
                <input [class.is-invalid]="form.error.discount"
                       [max]="form.form.controls['discount_flat'].value ? null : 100"
                       [min]="0"
                       [step]="1"
                       class="form-control"
                       formControlName="discount"
                       id="discount"
                       placeholder="Enter discount"
                       type="number">
                <select class="form-control" formControlName="discount_flat" id="discount_flat">
                  <option [ngValue]="true">Flat</option>
                  <option [ngValue]="false">Percentage</option>
                </select>
              </div>
              <div *ngIf="form.error.discount" class="invalid-tooltip d-block">{{ form.error.discount[0] }}</div>
            </div>

            <!-- Tax -->
            <div *ngIf="options.get('tax').value" class="form-group">
              <label for="tax">Tax</label>
              <input [class.is-invalid]="form.error.tax"
                     [max]="100"
                     [min]="0"
                     [step]="1"
                     class="form-control"
                     formControlName="tax"
                     id="tax"
                     placeholder="Enter tax (percentage)"
                     type="number">
              <div *ngIf="form.error.tax" class="invalid-tooltip">{{ form.error.tax[0] }}</div>
            </div>

            <!-- Currency -->
            <div class="form-group">
              <label for="currency">Currency</label>
              <app-select (choose)="form.form.get('currency').setValue($event.id)"
                          *ngIf="currencies"
                          [items]="currencies"
                          [selectedId]="form.form.get('currency').value"
                          id="currency"
                          selectLabel="Select currency">
              </app-select>
              <div *ngIf="form.error.currency" class="invalid-tooltip">{{ form.error.currency[0] }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Options -->
      <div class="col-xl-4 mb-3 order-first order-xl-last">
        <div class="card h-100">
          <div class="card-header">Options</div>
          <div class="card-body pb-0">

            <!-- Template -->
            <div class="form-group border-bottom pb-3 mb-3">
              <label class="d-flex align-items-center" for="currency">
                <span>Template</span>
                <small class="ms-auto">More templates coming soon 😉</small>
              </label>
              <app-select (choose)="form.form.get('template').setValue($event.id)"
                          [items]="templates"
                          [selectedId]="form.form.get('template').value"
                          id="template"
                          selectLabel="Select template">
              </app-select>
              <div *ngIf="form.error.template" class="invalid-tooltip">{{ form.error.template[0] }}</div>
            </div>

            <!-- UI Options -->
            <div [formGroup]="options" class="pb-3 mb-3 border-bottom">

              <!-- Title -->
              <p>Click to toggle invoice options.</p>

              <!-- Discount -->
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="discount"
                       id="option-discount" type="checkbox">
                <label class="form-check-label" for="option-discount">Discount</label>
              </div>

              <!-- Tax -->
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="tax"
                       id="option-tax" type="checkbox">
                <label class="form-check-label" for="option-tax">Tax</label>
              </div>

              <!-- Payment status (is_paid) -->
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="is_paid"
                       id="option-is_paid" type="checkbox">
                <label class="form-check-label" for="option-is_paid">Payment Status</label>
              </div>

              <!-- Date -->
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="date"
                       id="option-date" type="checkbox">
                <label class="form-check-label" for="option-date">Date</label>
              </div>

              <!-- Due date -->
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="due_date"
                       id="option-due_date" type="checkbox">
                <label class="form-check-label" for="option-due_date">Due Date</label>
              </div>

              <!-- Note -->
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="note"
                       id="option-note" type="checkbox">
                <label class="form-check-label" for="option-note">Note</label>
              </div>

              <!-- Items label -->
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="items_label"
                       id="option-items_label" type="checkbox">
                <label class="form-check-label" for="option-items_label">Items Label</label>
              </div>
            </div>

            <!-- Public -->
            <div class="form-group">
              <label for="is_published">Publish</label>
              <div class="form-check form-switch position-static">
                <input class="form-check-input" formControlName="is_published" id="is_published" type="checkbox">
                <label class="form-check-label" for="is_published">Allow access to direct link</label>
              </div>
            </div>

            <!-- Paid -->
            <div *ngIf="options.get('is_paid').value" class="form-group">
              <label for="is_published">Paid</label>
              <div class="form-check form-switch position-static">
                <input class="form-check-input" formControlName="is_paid" id="is_paid" type="checkbox">
                <label class="form-check-label" for="is_paid">Is invoice paid by client</label>
              </div>
            </div>

            <!-- Items label -->
            <div *ngIf="options.get('items_label').value" class="form-group">
              <label for="items_label">Items Label</label>
              <input [class.is-invalid]="form.error.items_label"
                     class="form-control"
                     formControlName="items_label"
                     id="items_label"
                     placeholder="Label for the items/products/services">
              <div *ngIf="form.error.items_label" class="invalid-tooltip">{{ form.error.items_label[0] }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Items -->
    <div class="card mb-3">
      <div class="card-header">{{ form.form.get('items_label').value || "Items" }}</div>
      <div class="card-body">

        <!-- Invoice items table -->
        <table *ngIf="itemForms.length" class="table table-borderless">
          <thead>
          <tr>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th class="text-end">Total</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <!-- Invoice item row -->
          <tr *ngFor="let item of itemForms; let index = index" [formGroup]="item.form">
            <!-- Description -->
            <td>
              <input [class.is-invalid]="item.error.description"
                     class="form-control"
                     formControlName="description"
                     type="text">
              <div *ngIf="item.error.description" class="invalid-tooltip">{{ item.error.description[0] }}</div>
            </td>
            <!-- Quantity -->
            <td>
              <input [class.is-invalid]="item.error.quantity" class="form-control"
                     formControlName="quantity"
                     min="0"
                     type="number">
              <div *ngIf="item.error.quantity" class="invalid-tooltip">{{ item.error.quantity[0] }}</div>
            </td>
            <!-- Price -->
            <td>
              <input [class.is-invalid]="item.error.price"
                     class="form-control"
                     formControlName="price"
                     type="number">
              <div *ngIf="item.error.price" class="invalid-tooltip">{{ item.error.price[0] }}</div>
            </td>
            <!-- Total -->
            <td class="text-end">
              <div class="pt-2 ps-2 pb-0 pe-0">{{ (item.data.amount || 0) | profileCurrency:currency }}</div>
            </td>
            <!-- Delete -->
            <td class="text-end">
              <a (click)="removeItem(item)" class="pt-2 ps-2 pb-0 pe-0 d-block text-danger">
                <fa-icon [fixedWidth]="true" [icon]="faDelete"></fa-icon>
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- No invoice items message -->
        <p *ngIf="!itemForms.length" class="text-muted">There are no invoice items. Click to add new ones 🚀</p>

        <!-- Add a new invoice item form to the list -->
        <button (click)="addItemForm()" class="btn btn-success" type="button">
          <fa-icon [fixedWidth]="true" [icon]="faAdd"></fa-icon>
          Add a new item
        </button>
      </div>
    </div>

    <!-- Error -->
    <app-general-error [form]="form"></app-general-error>

    <!-- Buttons -->
    <div class="d-flex align-items-center mt-3">
      <button (click)="remove()" *ngIf="form.id" class="btn btn-danger" type="button">
        <fa-icon [fixedWidth]="true" [icon]="faDelete"></fa-icon>
      </button>
      <button class="btn btn-secondary ms-auto" routerLink="../list" type="button">
        {{ form.id ? 'Cancel' : 'Go Back' }}
      </button>
      <button (click)="submit()" [disabled]="form.loading" class="btn btn-primary btn-form ms-2">
        {{ form.id ? 'Update' : 'Add' }}
      </button>
    </div>
  </form>
</div>
