@use "@angular/material" as mat;
@import "src/variables";

.invalid-tooltip {
  position: relative;
}

th, td {
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

}

td {
  padding-top: map_get($spacers, 1);
  padding-bottom: map_get($spacers, 1);
}

.input-select-container {
  display: flex;
  align-items: center;

}

.mat-card:hover {
  @include mat.elevation(8, $opacity: 0.5);
}
