<div class="container py-3" *ngIf="(!wallet && !error) || (!wallet && error)">

  <!-- Loading -->
  <app-loading classes="my-3" *ngIf="!wallet && !error"></app-loading>

  <!-- Not found -->
  <app-not-found classes="my-3" name="wallet" *ngIf="!wallet && error"></app-not-found>
</div>

<!-- Data -->
<div class="container py-3" *ngIf="wallet">
  <div class="row">

    <!-- Info (left) -->
    <div class="col-lg-6">

      <!-- Wallet -->
      <p class="fw-bold m-0">Wallet</p>
      <app-wallet-list columnClass="col-12" [wallets]="[wallet]"></app-wallet-list>

      <!-- Total -->
      <hr>
      <p class="fw-bold">Total</p>
      <div>{{ wallet.balance.total | profileCurrency }}</div>

      <!-- Expenses -->
      <hr>
      <p class="fw-bold">Expenses</p>
      <div>{{ wallet.balance.expense | profileCurrency }}</div>

      <!-- Income -->
      <hr>
      <p class="fw-bold">Income</p>
      <div>{{ wallet.balance.income | profileCurrency }}</div>

      <!-- Archive message -->
      <div *ngIf="wallet.archive" class="text-warning">
        <hr>
        <p class="fw-bold">Archived</p>
        <p>This wallet is archived.</p>
      </div>

      <!-- Responsive separator -->
      <hr class="d-lg-none">
    </div>

    <!-- Transactions (right) -->
    <div class="col-lg-6">

      <!-- Header -->
      <p class="fw-bold mb-0">Transactions</p>

      <!-- Loading -->
      <app-loading *ngIf="!transactions"></app-loading>

      <!-- No data -->
      <app-no-data *ngIf="transactions && !transactions.length"></app-no-data>

      <!-- Transactions -->
      <app-transaction-list *ngIf="transactions && categories && wallets"
                            [transactions]="transactions"
                            [categories]="categories"
                            [wallets]="wallets"
                            columnClass="col-12">
      </app-transaction-list>

      <!-- Pagination -->
      <app-pager wrapperClass="mt-3"
                 *ngIf="transactions?.length"
                 [disabled]="!transactions || !wallets"
                 [apiResponse]="transactionsApiResponse"
                 [paramsToCombine]="transactionsFilter"
                 (pageChanged)="loadTransactions()">
      </app-pager>
    </div>
  </div>
</div>
