<!-- Data -->
<div class="chart-wrapper" *ngIf="hasData && chartResults?.length">
  <ngx-charts-pie-chart [results]="chartResults"
                        [customColors]="chartColors"
                        [doughnut]="true"
                        [arcWidth]="0.25"
                        [labels]="true">
  </ngx-charts-pie-chart>
</div>

<!-- No data -->
<p class="m-3 text-info text-center fw-bold" *ngIf="!hasData || !chartResults?.length">
  <span class="fw-normal">📋</span> When you start adding expenses, the chart will show up here.
</p>
