<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span mat-dialog-title>{{ isEditing ? 'Edit' : 'Add' }} Contact</span>

  <!-- Close -->
  <button mat-button class="text-secondary mb-4" mat-dialog-close>
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Body -->
<div class="modal-body pb-0" *ngIf="form.form">
  <form mat-dialog-content [formGroup]="form.form" (ngSubmit)="submit()">

    <!-- Name -->
    <label class="label2">Name</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Name</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faName"></fa-icon>
      </span>
        <input matInput
               [class.is-invalid]="form.error.name"
               formControlName="name"
               id="name"
               placeholder="Name"
               type="text">
      <mat-error *ngIf="form.error.name">{{ form.error.name[0] }}</mat-error>
    </mat-form-field>

    <!-- Email -->
    <label class="label2">Email</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Email</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faEmail"></fa-icon>
      </span>
      <input matInput
             [class.is-invalid]="form.error.email"
             formControlName="email"
             placeholder="Email"
             type="email">
      <mat-error class="invalid-tooltip" *ngIf="form.error.email">{{ form.error.email[ 0 ] }}</mat-error>
    </mat-form-field>

    <!-- Phone -->
    <label class="label2">Phone</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Phone</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faPhone"></fa-icon>
      </span>
      <input matInput
             [class.is-invalid]="form.error.phone"
             formControlName="phone"
             id="phone"
             placeholder="Phone"
             type="text">
      <mat-error class="invalid-tooltip" *ngIf="form.error.phone">{{ form.error.phone[ 0 ] }}</mat-error>
    </mat-form-field>

    <!-- Website -->
    <label class="label2">Website</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Website</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faWebsite"></fa-icon>
      </span>
      <input matInput
             [class.is-invalid]="form.error.website"
             formControlName="website"
             id="website"
             placeholder="Website"
             type="text">
      <mat-error class="invalid-tooltip" *ngIf="form.error.website">{{ form.error.website[ 0 ] }}</mat-error>
    </mat-form-field>


    <!-- Address -->
    <label class="label2">Address</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Website</mat-label>
      <span matPrefix class="note-prefix">
          <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faAddress"></fa-icon>
      </span>
      <textarea matInput
                [class.is-invalid]="form.error.address"
                formControlName="address"
                id="address"
                placeholder="Address"
                rows="3">
      </textarea>
      <mat-error class="invalid-tooltip" *ngIf="form.error.address">{{ form.error.address[ 0 ] }}</mat-error>
    </mat-form-field>

    <!-- Error -->
    <app-general-error [form]="form"></app-general-error>
  </form>
</div>

<!-- Footer -->
<div class="modal-footer text-end" *ngIf="form.form">

  <!-- Delete -->
  <a class="text-danger me-auto" *ngIf="isEditing" (click)="destroy(this.data.contact)" [mat-dialog-close]="true">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button mat-button class="btn btn-light" mat-dialog-close>Cancel</button>

  <!-- Submit -->
  <button class="btn btn-primary" [disabled]="form.loading || form.form.invalid" (click)="submit()">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>

