<div class="container py-3" *ngIf="(!category && !error) || (!category && error)">

  <!-- Loading -->
  <app-loading classes="my-3" *ngIf="!category && !error"></app-loading>

  <!-- Not found -->
  <app-not-found classes="my-3" name="transaction" *ngIf="!category && error"></app-not-found>
</div>

<!-- Wrapper (with category color as background) -->
<div class="wrapper" [style.background]="category.color" *ngIf="category">

  <!-- Container -->
  <div class="container shadow">

    <!-- Category info and transaction amount -->
    <div class="d-flex align-items-center">

      <!-- Category icon -->
      <a class="d-flex" [routerLink]="['/dash/category', category.id]">
        <i [style.background]="category.color" class="category-icon icon-{{ category.icon }}"></i>
      </a>

      <!-- Category name and transactions_total -->
      <div class="ms-4">
        <h1 class="fw-bold m-0">{{ category.name }}</h1>
        <p class="m-0 text-secondary">{{ category.transactions_total | profileCurrency }} in this category</p>
      </div>

      <!-- Transaction amount (for large screen only) -->
      <div class="ms-auto d-none d-lg-block">
        <h1 class="fw-bold mb-0 text-secondary"
            [class.text-danger]="category.kind === expenseKind.EXPENSE"
            [class.text-success]="category.kind === expenseKind.INCOME">
          {{ transaction.amount | profileCurrency }}
        </h1>
      </div>
    </div>

    <!-- Info -->
    <div class="mt-5">

      <!-- Header -->
      <p class="fw-bold border-bottom pb-3">Information</p>

      <!-- Info list -->
      <div class="row">

        <!-- Amount (for small screen only) -->
        <div class="col-xl-4 mb-3 d-sm-block d-lg-none" *ngIf="wallet">
          <div class="d-flex align-items-center">
            <fa-icon [fixedWidth]="true" class="text-secondary" size="2x" [icon]="faAmount"></fa-icon>
            <div class="ms-3">
              <p class="fw-bold mb-0 text-secondary"
                 [class.text-danger]="category.kind === expenseKind.EXPENSE"
                 [class.text-success]="category.kind === expenseKind.INCOME">
                {{ transaction.amount | profileCurrency }}
              </p>
              <div>Transaction amount</div>
            </div>
          </div>
        </div>

        <!-- Wallet -->
        <div class="col-xl-4 mb-4" *ngIf="wallet">
          <div class="d-flex align-items-center">
            <fa-icon [fixedWidth]="true" class="text-secondary" size="2x" [icon]="faWallet"></fa-icon>
            <div class="ms-3">
              <p class="fw-bold m-0">
                <a class="text-dark" [routerLink]="['/dash/wallet', wallet.id]">{{ wallet.name }}</a>
              </p>
              <div>Transaction wallet</div>
            </div>
          </div>
        </div>

        <!-- Into wallet -->
        <div class="col-xl-4 mb-4" *ngIf="into">
          <div class="d-flex align-items-center">
            <fa-icon [fixedWidth]="true" class="text-secondary" size="2x" [icon]="faWallet"></fa-icon>
            <div class="ms-3">
              <p class="fw-bold m-0">
                <a class="text-dark" [routerLink]="['/dash/wallet', into.id]">{{ into.name }}</a>
              </p>
              <div>Transferred into wallet</div>
            </div>
          </div>
        </div>

        <!-- Transaction time -->
        <div class="col-xl-4 mb-4">
          <div class="d-flex align-items-center">
            <fa-icon [fixedWidth]="true" class="text-secondary" size="2x" [icon]="faTime"></fa-icon>
            <div class="ms-3">
              <p class="fw-bold m-0">Date</p>
              <div>{{ transaction.time | date:'d MMM, yyyy - hh:mm aa' }}</div>
            </div>
          </div>
        </div>

        <!-- Transaction note -->
        <div class="col-xl-4 mb-4">
          <div class="d-flex align-items-center">
            <fa-icon [fixedWidth]="true" class="text-secondary" size="2x" [icon]="faNote"></fa-icon>
            <div class="ms-3">
              <p class="fw-bold m-0">Note</p>
              <div class="text-pre">{{ transaction.note || 'Nothing here.' }}</div>
            </div>
          </div>
        </div>

        <!-- Event -->
        <div class="col-xl-4 mb-4" *ngIf="event">
          <div class="d-flex align-items-center">
            <fa-icon [fixedWidth]="true" class="text-secondary" size="2x" [icon]="faEvent"></fa-icon>
            <div class="ms-3">
              <p class="fw-bold m-0">
                <a class="text-dark" [routerLink]="['/dash/event', event.id]">{{ event.name }}</a>
              </p>
              <div>Transaction event</div>
            </div>
          </div>
        </div>

        <!-- Archive -->
        <div class="col-xl-4 mb-4" *ngIf="transaction.archive">
          <div class="d-flex align-items-center">
            <fa-icon [fixedWidth]="true" class="text-warning" size="2x" [icon]="faArchive"></fa-icon>
            <div class="ms-3">
              <p class="fw-bold m-0">Archive</p>
              <div>This transaction is archived</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Actions -->
    <div class="mt-5">

      <!-- Header -->
      <p class="fw-bold border-bottom pb-3">Actions</p>

      <!-- Buttons -->
      <button class="btn btn-secondary me-2 mb-2" (click)="edit()">Edit Transaction</button>
      <a class="btn btn-secondary me-2 mb-2" [routerLink]="['/dash/category', category.id]">View Category</a>
      <a class="btn btn-secondary me-2 mb-2" [routerLink]="['/dash/event', event.id]" *ngIf="event">View Event</a>
    </div>
  </div>
</div>
