@import "src/variables";

.wrapper {
  width: 100%;
  min-height: 100%;
  padding: 100px map_get($spacers, 5) 0;

  > .container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 190px);
    background: white;
    color: $dark;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    padding: map_get($spacers, 4);
  }
}

.category-icon {
  font-size: 3rem;
  color: white;
  padding: 50px;
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
  position: relative;
  margin-top: -75px;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .category-icon {
    font-size: 1.5rem;
    padding: 20px;
    margin-top: 0;
    margin-left: -60px;
    margin-right: -15px;
  }
}
