@import "src/variables";

.wrapper {
  height: 100vh;
  width: 100%;
  padding: 100px map_get($spacers, 5) 0;

  > .container {
    background: white;
    color: $dark;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    height: 100%;
    padding: map_get($spacers, 4);
  }
}

.category-icon {
  font-size: 3rem;
  color: white;
  padding: 50px;
  box-shadow: $box-shadow;
  border-radius: $border-radius-lg;
  position: relative;
  margin-top: -75px;
}
