<!-- Search, ordering and filters -->
<div class="container-fluid py-2 bg-tertiary">
  <div class="container">
    <div class="d-flex align-items-center">

      <!-- Search -->
      <input type="text" placeholder="Search" class="form-control"
             [style.width]="'200px'" [(ngModel)]="searchField"
             appModelDebounce (debouncedChange)="load()">

      <!-- Kind filter -->
      <div class="d-inline-block ml-3">
        <select [(ngModel)]="kindFilterField" (ngModelChange)="load()" class="custom-select">
          <option *ngFor="let kind of kindFilterFields" [ngValue]="kind">{{ kind.name }}</option>
        </select>
      </div>

      <!-- Archive filter -->
      <div class="custom-control custom-switch ml-3">
        <input type="checkbox" class="custom-control-input" id="archive" [(ngModel)]="archiveFilterField">
        <label class="custom-control-label" for="archive">Archives</label>
      </div>
    </div>
  </div>
</div>
<div class="container mb-3">


  <!-- Categories -->
  <app-category-list columnClass="col-xl-3 col-lg-4 col-sm-12" [categories]="categories"></app-category-list>
</div>
