@import "src/variables";

.category-list {
  .item-icon-action {
    cursor: unset;

    .edit {
      display: none;
      background: rgba($secondary, 0.15);
      color: $info;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: rgba($secondary, 0.25);
      }
    }

    &:hover {
      .item-icon {
        display: none;
      }

      .edit {
        display: flex;
      }
    }
  }
}
