<div class="row category-list">
  <div [classList]="columnClass" *ngFor="let category of categories">
    <div class="mt-3 item-icon-wrapper">
      <div class="d-flex align-items-center">
        <div class="item-icon" [ngStyle]="style(category.color)">
          <i class="icon-{{ category.icon }}"></i>
        </div>
        <div class="item-icon edit" (click)="editCategory(category)" title="Edit category">
          <fa-icon [fixedWidth]="true" [icon]="faEdit"></fa-icon>
        </div>
        <a class="ps-3 text-dark w-100" title="View category"
           [routerLink]="['/dash', 'category', category.id]">
          <div>{{ category.name }}</div>
          <div class="small text-muted">{{ category.transactions_count }} Transactions</div>
        </a>
      </div>
    </div>
  </div>
</div>
