<!-- Selected -->
<div #trigger="cdkOverlayOrigin"
     (click)="edit = !edit"
     cdkOverlayOrigin
     class="form-select cursor-pointer">
  {{ selected && showSelected ? selected.name : selectLabel }}
</div>

<!-- This template displays the overlay content and is connected to the select -->
<ng-template (overlayOutsideClick)="handleOverlayOutsideClick($event, trigger)"
             [cdkConnectedOverlayFlexibleDimensions]="true"
             [cdkConnectedOverlayOpen]="edit"
             [cdkConnectedOverlayOrigin]="trigger"
             cdkConnectedOverlay>

  <!-- Selection -->
  <div class="card shadow-sm border">

    <!-- Header (mobile only) -->
    <div class="px-3 pt-3 d-flex align-items-center d-lg-none border-0">

      <!-- Title -->
      <div class="fw-bold">{{ selectLabel }}</div>

      <!-- Close button -->
      <button (click)="edit = false" class="btn btn-light ms-auto">
        <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
      </button>
    </div>

    <!-- Search -->
    <div [class.input-group]="showAdd" class="card-body border-0 p-3">

      <!-- Input -->
      <input [(ngModel)]="search" appAutoFocus class="form-control" placeholder="Search" type="text">

      <!-- Add button -->
      <button (click)="edit = false; add.emit()" *ngIf="showAdd" class="btn btn-light text-secondary" type="button">
        <fa-icon [fixedWidth]="true" [icon]="faAdd"></fa-icon>
      </button>
    </div>

    <!-- List -->
    <div class="list-group list-group-flush">

      <!-- Data -->
      <div (click)="select(item)"
           *ngFor="let item of items | filter:search:'name'"
           class="list-group-item list-group-item-action border-0 d-flex align-items-center cursor-pointer">
        <div *ngIf="item.icon" [ngStyle]="style(item.color)" class="item-icon">
          <span class="icon-{{ item.icon }}"></span>
        </div>
        <div [class.ms-3]="item.icon">{{ item.name }}</div>
        <fa-icon *ngIf="showSelected && selected === item" [icon]="faSelected" class="ms-auto text-primary"></fa-icon>
      </div>

      <!-- No data -->
      <app-no-data *ngIf="!items || !items.length" classes="my-3"></app-no-data>
    </div>
  </div>
</ng-template>
