<!-- Selected -->
<div class="custom-select cursor-pointer" (click)="edit = !edit">
  {{ selected ? selected.name : selectLabel }}
</div>

<!-- Selection -->
<div class="card shadow-sm border" *ngIf="edit">

  <!-- Header (mobile only) -->
  <div class="px-3 pt-3 d-flex align-items-center d-lg-none border-0">

    <!-- Title -->
    <div class="font-weight-bold">{{ selectLabel }}</div>

    <!-- Close button -->
    <button class="btn btn-light ml-auto" (click)="edit = false">
      <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
    </button>
  </div>

  <!-- Search -->
  <div class="card-body p-3">
    <input appAutoFocus type="text" placeholder="Search" [(ngModel)]="search" class="form-control mr-2 mr-lg-0">
  </div>

  <!-- List -->
  <div class="list-group list-group-flush">
    <div class="list-group-item list-group-item-action border-0 d-flex align-items-center cursor-pointer"
         *ngFor="let item of items | filter:search:'name'"
         (click)="select(item)">
      <div class="item-icon" [ngStyle]="style(item.color)">
        <span class="icon-{{ item.icon }}"></span>
      </div>
      <div class="ml-3">{{ item.name }}</div>
      <fa-icon *ngIf="selected === item" [icon]="faSelected" class="ml-auto text-primary"></fa-icon>
    </div>
  </div>
</div>
