@import "src/variables";

@include media-breakpoint-up(lg) {
  .filters {
    display: flex;
    align-items: center;

    > .filter {
      margin-right: map_get($spacers, 3);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .filters {
    display: none;

    &.expand {
      display: block;
    }

    > .filter {
      margin-bottom: map_get($spacers, 2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
