<!-- Header (mobile only) -->
<div class="d-flex align-items-center d-lg-none" [class.mb-3]="expand">
  <div class="font-weight-bold">Filters</div>
  <button class="btn btn-light ml-auto" (click)="expand = !expand" [class.active]="expand">
    <fa-icon [fixedWidth]="true" [icon]="faToggle"></fa-icon>
  </button>
</div>

<!-- Filters -->
<div class="filters" [class.expand]="expand">
  <div class="filter" *ngFor="let filter of filters">

    <!-- Text type -->
    <input *ngIf="filter.type === filterType.TEXT"
           [placeholder]="filter.label"
           [(ngModel)]="filter.value"
           (debouncedChange)="onUpdate()"
           appModelDebounce
           type="text"
           class="form-control">

    <!-- List type  -->
    <app-select *ngIf="filter.type === filterType.LIST && (!filter.values || filter.values.length)"
                rawItemIdKey="value"
                rawItemLabelKey="label"
                [rawItems]="filter.values"
                [selectLabel]="filter.label"
                [title]="filter.label"
                [allowClear]="true"
                (choose)="filter.value = $event.id; onUpdate()">
    </app-select>

    <!-- Boolean type -->
    <div *ngIf="filter.type === filterType.BOOLEAN" class="custom-control custom-switch position-static">
      <input [(ngModel)]="filter.value"
             [id]="'filter-' + filter.key"
             (ngModelChange)="onUpdate()"
             class="custom-control-input"
             type="checkbox">
      <label class="custom-control-label" [for]="'filter-' + filter.key">{{ filter.label }}</label>
    </div>
  </div>
</div>
