<!-- Header (mobile only) -->
<div class="header" [class.mb-3]="expand">
  <div class="fw-bold">Filters</div>
  <button class="btn btn-light ms-auto" (click)="expand = !expand" [class.active]="expand">
    <fa-icon [fixedWidth]="true" [icon]="faToggle"></fa-icon>
  </button>
</div>

<!-- Filters -->
<div class="filters" [class.expand]="expand">
  <div class="filter" *ngFor="let filter of filters">

    <!-- Text type -->
    <input *ngIf="filter.type === filterType.TEXT"
           [placeholder]="filter.label"
           [(ngModel)]="filter.value"
           (debouncedChange)="onUpdate()"
           appModelDebounce
           type="text"
           class="form-control">

    <!-- List type -->
    <app-select *ngIf="filter.type === filterType.LIST && (!filter.values || filter.values.length)"
                rawItemIdKey="value"
                rawItemLabelKey="label"
                [rawItems]="filter.values"
                [selectLabel]="filter.label"
                [title]="filter.label"
                [allowClear]="true"
                (clear)="filter.value = null; onUpdate()"
                (choose)="filter.value = $event.id; onUpdate()">
    </app-select>

    <!-- Boolean type -->
    <mat-slide-toggle *ngIf="filter.type === filterType.BOOLEAN"
                      [(ngModel)]="filter.value"
                      [id]="'filter-' + filter.key"
                      (ngModelChange)="onUpdate()">
      <label [for]="'filter-' + filter.key">{{ filter.label }}</label>
    </mat-slide-toggle>
  </div>
</div>
