<div class="container-fluid py-3">

  <!-- Header -->
  <div class="fw-bold d-flex align-items-center mb-3">
    <a class="text-secondary" routerLink="../list">Transactions</a>
    <fa-icon [fixedWidth]="true" [icon]="faBreadcrumbArrow" class="small mx-1 text-secondary"></fa-icon>
    <span>Bulk Creation</span>
  </div>

  <!-- Forms -->
  <div class="table-responsive">
    <table class="table table-borderless m-0">
      <thead>
      <tr>
        <th>Type</th>
        <th>Wallet</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let form of forms" [formGroup]="form.form">
        <!-- Success -->
        <td [colSpan]="6" *ngIf="form.success">
          <div class="alert alert-success m-0 py-2 d-flex align-items-center justify-content-between">
            <span>Transaction successfully created.</span>
            <a class="btn btn-primary btn-sm" [routerLink]="['../', form.id]">View</a>
          </div>
        </td>
        <!-- Kind -->
        <td *ngIf="!form.success">
          <mat-form-field class="w-100">
          <mat-select formControlName="kind"
                      (valueChange)="form.form.get('category').setValue(categoryGroups[form.form.value.kind][0].id)">
            <mat-option [value]="expenseKind.INCOME">Income</mat-option>
            <mat-option [value]="expenseKind.EXPENSE">Expense</mat-option>
            <mat-option [value]="expenseKind.TRANSFER">Transfer</mat-option>
          </mat-select>
          </mat-form-field>
        </td>
        <!-- Wallet -->
        <td *ngIf="!form.success">

          <!-- Wallet form and into -->
          <div class="d-flex">

            <!-- Wallet form -->
              <mat-form-field class="w-100">
              <mat-select formControlName="wallet">
                <mat-option *ngFor="let wallet of wallets" [value]="wallet.id">
                  {{ wallet.name }}
                </mat-option>
              </mat-select>
              </mat-form-field>

            <!-- Wallet into -->
            <mat-form-field class="w-100 ms-2" *ngIf="form.form.value.kind === expenseKind.TRANSFER">
              <mat-select formControlName="into">
                <mat-option [value]="null">Select wallet</mat-option>
                <mat-option *ngFor="let wallet of wallets"
                            [disabled]="wallet.id === form.form.value['wallet']"
                            [value]="wallet.id">
                  Into {{ wallet.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.error.wallet">
                {{ form.error.wallet[0] }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- 1 error text for both of them -->
          <mat-error *ngIf="form.error.wallet || form.error.into">
            {{ form.error.wallet ? form.error.wallet[0] : form.error.into[0] }}
          </mat-error>
        </td>

        <!-- Category -->
        <td *ngIf="!form.success">
          <mat-form-field class="w-100">
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of categoryGroups[form.form.value.kind]"
                          [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.error.category">
              {{ form.error.category[0] }}
            </mat-error>
          </mat-form-field>
        </td>

        <!-- Amount -->
        <td *ngIf="!form.success">
          <mat-form-field class="w-100">
            <input matInput
                   type="number"
                   formControlName="amount"
                   [placeholder]="currency"
                   [step]="1"
                   [min]="0">
            <mat-error *ngIf="form.error.amount">
              {{ form.error.amount[0] }}
            </mat-error>
          </mat-form-field>
        </td>

        <!-- Time -->
        <td *ngIf="!form.success">
            <mat-form-field class="w-100">
              <input matInput
                     type="datetime-local"
                     formControlName="time">
              <mat-error *ngIf="form.error.time">
                {{ form.error.time[0] }}
              </mat-error>
            </mat-form-field>
        </td>

        <!-- Actions -->
        <td class="actions">

          <!-- Delete -->
          <a class="text-danger" (click)="removeForm(form)">
            <fa-icon [fixedWidth]="true" [icon]="faDelete"></fa-icon>
          </a>

          <!-- Success -->
          <fa-icon class="text-success" [fixedWidth]="true"
                   [icon]="faSuccess" *ngIf="form.success"></fa-icon>

          <!-- Loading -->
          <fa-icon class="text-warning" [fixedWidth]="true"
                   [icon]="faLoading" [spin]="true" *ngIf="form.loading">
          </fa-icon>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Buttons -->
  <div class="d-flex align-items-center mt-3">

    <!-- Add button -->
    <button mat-icon-button class="btn btn-success me-auto" (click)="forms.push(getForm())">
      <fa-icon [fixedWidth]="true" [icon]="faAdd"></fa-icon>
    </button>

    <!-- Submit -->
    <button mat-flat-button class="btn btn-primary" (click)="submit()">Create All Transactions</button>
  </div>
</div>
