<div class="container-fluid py-3">

  <!-- Header -->
  <div class="fw-bold d-flex align-items-center mb-3">
    <a class="text-secondary" routerLink="../list">Transactions</a>
    <fa-icon [fixedWidth]="true" [icon]="faBreadcrumbArrow" class="small mx-1 text-secondary"></fa-icon>
    <span>Bulk Creation</span>
  </div>

  <!-- Forms -->
  <div class="table-responsive">
    <table class="table table-borderless m-0">
      <thead>
      <tr>
        <th>Type</th>
        <th>Wallet</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let form of forms" [formGroup]="form.form">
        <!-- Success -->
        <td [colSpan]="6" *ngIf="form.success">
          <div class="alert alert-success m-0 py-2 d-flex align-items-center justify-content-between">
            <span>Transaction successfully created.</span>
            <button mat-flat-button class="btn btn-primary btn-sm" [routerLink]="['../', form.id]">View</button>
          </div>
        </td>
        <!-- Kind -->
        <td *ngIf="!form.success">
          <mat-form-field appearance="fill">
            <mat-label>Select Type</mat-label>
            <mat-select formControlName="kind"
                        (ngModelChange)="form.form.get('category').setValue(categoryGroups[form.form.value.kind][0].id)">
              <mat-option [value]="expenseKind.INCOME">Income</mat-option>
              <mat-option [value]="expenseKind.EXPENSE">Expense</mat-option>
              <mat-option [value]="expenseKind.TRANSFER">Transfer</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <!-- Wallet -->
        <td *ngIf="!form.success">
          <!-- Wallet from and into -->
          <div class="d-flex">
            <!-- Wallet from -->
            <div class="w-100">
              <mat-form-field appearance="fill">
                <mat-label>Select wallet</mat-label>
                <mat-select formControlName="wallet" [class.is-invalid]="form.error.wallet">
                  <mat-option *ngFor="let wallet of wallets" [value]="wallet.id">{{ wallet.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Wallet into -->
            <div class="w-100 ms-2" *ngIf="form.form.value.kind === expenseKind.TRANSFER"
                 [class.is-invalid]="form.error.into">
              <mat-form-field appearance="fill">
                <mat-label>Select wallet</mat-label>
                <mat-select formControlName="into">
                  <mat-option [value]="null">Select wallet</mat-option>
                  <mat-option *ngFor="let wallet of wallets"
                          [disabled]="wallet.id === form.form.value['wallet']"
                          [value]="wallet.id">
                    Into {{ wallet.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="form.error.wallet">{{ form.error.wallet[0] }}</mat-error>
            </div>
          </div>
          <!-- 1 error text for both of them -->
          <div class="form-error" *ngIf="form.error.wallet || form.error.into">
            {{ form.error.wallet ? form.error.wallet[0] : form.error.into[0] }}
          </div>
        </td>
        <!-- Category -->
        <td *ngIf="!form.success">
          <mat-form-field appearance="fill">
            <mat-label>Select category</mat-label>
            <mat-select formControlName="category" [class.is-invalid]="form.error.category">
              <mat-option *ngFor="let category of categoryGroups[form.form.value.kind]" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="form-error" *ngIf="form.error.category">{{ form.error.category[0] }}</div>
        </td>
        <!-- Amount -->
        <td *ngIf="!form.success">
          <mat-form-field appearance="fill">
            <mat-label>Select amount</mat-label>
            <input matInput [placeholder]="currency"
                   type="number"
                   [step]="1"
                   formControlName="amount"
                  [class.is-invalid]="form.error.amount">
          </mat-form-field>
          <mat-error *ngIf="form.error.amount">{{ form.error.amount[0] }}</mat-error>
        </td>
        <!-- Time -->
        <td *ngIf="!form.success">
          <mat-form-field appearance="fill">
            <mat-label>Select Date</mat-label>
            <input matInput type="datetime-local" id="time" formControlName="time">
            <mat-error *ngIf="form.error.time">{{ form.error.time[0] }}</mat-error>
          </mat-form-field>
        </td>
        <!-- Actions -->
        <td class="actions">
          <!-- Delete -->
          <button mat-button color="warn" (click)="removeForm(form)">
            <fa-icon [fixedWidth]="true" [icon]="faDelete"></fa-icon>
          </button>
          <!-- Success -->
          <fa-icon class="text-success" [fixedWidth]="true"
                   [icon]="faSuccess" *ngIf="form.success"></fa-icon>
          <!-- Loading -->
          <fa-icon class="text-warning" [fixedWidth]="true"
                   [icon]="faLoading" [spin]="true" *ngIf="form.loading">
          </fa-icon>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Buttons -->
  <div class="d-flex align-items-center mt-3">

    <!-- Add button -->
    <button mat-button class="btn btn-success me-auto" (click)="forms.push(getForm())">
      <fa-icon [fixedWidth]="true" [icon]="faAdd"></fa-icon>
    </button>

    <!-- Submit -->
    <button mat-flat-button color="primary" (click)="submit()">Create All Transactions</button>
  </div>
</div>
