<!-- Header -->
<div class="modal-header">

  <!-- Title -->
  <span>{{ isEditing ? 'Edit' : 'Add' }} Category</span>

  <!-- Close -->
  <button mat-button class="text-secondary" (click)="modal.hide()">
    <fa-icon [fixedWidth]="true" [icon]="faClose"></fa-icon>
  </button>
</div>

<!-- Body -->
<div class="modal-body pb-0" *ngIf="!(isEditing && category.protect)">
  <form [formGroup]="form.form" (ngSubmit)="submit()" *ngIf="form.form">

    <!-- Kind -->
    <div class=" mb-3">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="w-100" appearance="legacy">
        <mat-button-toggle class="btn btn-light fw-bold income-style"
                           (click)="form.form.get('kind').patchValue(expenseKind.INCOME)"
                           [class.active]="form.form.get('kind').value === expenseKind.INCOME">INCOME
        </mat-button-toggle>
        <mat-button-toggle class="btn btn-light fw-bold w-100"
                           (click)="form.form.get('kind').patchValue(expenseKind.EXPENSE)"
                           [class.active]="form.form.get('kind').value === expenseKind.EXPENSE">EXPENSE
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Name -->
    <label class="label2">Name</label>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Name</mat-label>
      <span matPrefix class="icon-prefix">
        <fa-icon class="fa-lg" [fixedWidth]="true" [icon]="faInfo"></fa-icon>
      </span>
      <input matInput
             type="text"
             formControlName="name"
             placeholder="Name">
      <mat-error *ngIf="form.error.name">{{ form.error.name[0] }}</mat-error>
    </mat-form-field>

    <!-- Icon -->
    <div class="form-group">
      <label for="icon">Icon</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faIcons"></fa-icon>
        </div>
        <app-select id="icon"
                    selectLabel="Select icon"
                    *ngIf="icons"
                    [items]="icons"
                    [selectedId]="form.form.get('icon').value"
                    (choose)="form.form.get('icon').setValue($event.id)">
        </app-select>
        <mat-error class="invalid-tooltip" *ngIf="form.error.icon">{{ form.error.icon[0] }}</mat-error>
      </div>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label for="color">Color</label>
      <div class="input-group">
        <div class="input-group-text">
          <fa-icon class="input-group-text" [fixedWidth]="true" [icon]="faPaint"></fa-icon>
        </div>
        <app-select-color id="color"
                          [selected]="form.form.get('color').value"
                          (choose)="form.form.get('color').setValue($event)">
        </app-select-color>
        <mat-error class="invalid-tooltip" *ngIf="form.error.color">{{ form.error.color[0] }}</mat-error>
      </div>
    </div>

    <!-- Archive -->
    <div class="form-group">
      <label for="archive">Archive</label>
      <div>
        <mat-slide-toggle formControlName="archive"
                        id="archive"
                        class="small">Archive and hide from the list
        </mat-slide-toggle>
      </div>
    </div>
  </form>
</div>

<!-- Footer -->
<div class="modal-footer text-end" *ngIf="!(isEditing && category.protect)">

  <!-- Delete -->
  <a class="text-danger me-auto" *ngIf="isEditing" (click)="delete(category)">
    <fa-icon [fixedWidth]="true" [icon]="faTrash"></fa-icon>
  </a>

  <!-- Cancel -->
  <button mat-button class="mx-2" (click)="modal.hide()">Cancel</button>

  <!-- Submit -->
  <button mat-flat-button
          color="primary"
          [disabled]="form.loading || form.form.invalid"
          (click)="submit()">
    {{ isEditing ? 'Update' : 'Done' }}
  </button>
</div>

<!-- Body (protect) -->
<div class="modal-body pb-0" *ngIf="isEditing && category.protect">

  <!-- Protected message -->
  <p class="text-warning fw-bold">
    This is an automated category and also used by the system therefore it can not be modified.
  </p>
</div>

<!-- Footer (protected) -->
<div class="modal-footer text-end" *ngIf="isEditing && category.protect">

  <!-- Cancel -->
  <button class="btn btn-light ms-auto" (click)="modal.hide()">Close</button>
</div>
