<div class="wrapper">

  <!-- Error or loading -->
  <div *ngIf="error || !invoice" class="container py-5">

    <!-- Error -->
    <app-not-found *ngIf="error" name="Invoice"></app-not-found>

    <!-- Loading -->
    <app-loading *ngIf="!error && !invoice"></app-loading>
  </div>

  <!-- Overlay -->
  <div *ngIf="invoice" [class.show]="overlayShow" class="overlay pb-3 text-end">
    <div class="container">

      <!-- View: Main -->
      <ng-container *ngIf="overlayView === 'main'">

        <!-- Download -->
        <button (click)="overlayView = 'download'" class="btn btn-secondary rounded-circle">
          <fa-icon [fixedWidth]="true" [icon]="faDownload"></fa-icon>
        </button>
      </ng-container>

      <!-- Download view -->
      <ng-container *ngIf="overlayView === 'download'">

        <!-- Image -->
        <button (click)="download('image')"
                [disabled]="snapshotLoading"
                class="btn btn-primary rounded-circle"
                title="Download as Image">
          <fa-icon [fixedWidth]="true" [icon]="faImage"></fa-icon>
        </button>

        <!-- PDF -->
        <button (click)="download('pdf')"
                [disabled]="snapshotLoading"
                class="btn btn-primary rounded-circle"
                title="Download as PDF">
          <fa-icon [fixedWidth]="true" [icon]="faPDF"></fa-icon>
        </button>

        <!-- Collapse -->
        <button (click)="overlayView = 'main'"
                [disabled]="snapshotLoading"
                class="btn btn-secondary rounded-circle">
          <fa-icon [fixedWidth]="true" [icon]="faCollapse"></fa-icon>
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Invoice - Load the right template -->
  <ng-container *ngIf="invoice" [ngSwitch]="invoice.template">
    <app-template-soft (snapshotElementLoad)="snapshotElement = $event"
                       *ngSwitchDefault
                       [invoice]="invoice"
                       [snapshotLoading]="snapshotLoading">
    </app-template-soft>
    <app-template-paper (snapshotElementLoad)="snapshotElement = $event"
                        *ngSwitchCase="'paper'"
                        [invoice]="invoice"
                        [snapshotLoading]="snapshotLoading">
    </app-template-paper>
    <app-template-formally (snapshotElementLoad)="snapshotElement = $event"
                           *ngSwitchCase="'formally'"
                           [invoice]="invoice"
                           [snapshotLoading]="snapshotLoading">
    </app-template-formally>
  </ng-container>
</div>
