/* Google font */

@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@300;400;700&display=swap");

/* Variables */

@import "./variables";

/* Bootstrap */

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
//@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
//@import "bootstrap/scss/nav";
//@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
//@import "bootstrap/scss/accordion";
//@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
//@import "bootstrap/scss/close";
//@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/popover";
//@import "bootstrap/scss/carousel";
//@import "bootstrap/scss/spinners";
//@import "bootstrap/scss/offcanvas";
//@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";


/* Icons */

@import "./assets/icon/style";

/* Dark and light theme */

:root {
  --app-primary-color: #{$primary};
  --app-sidebar-bg-color: #{$light};
  --app-sidebar-text-color: #{$dark};
  --app-sidebar-border-color: #{$border-color};
  --app-sidebar-card-bg-color: white;
  --app-sidebar-link-hover-bg-color: rgba(0, 0, 0, 0.025);
  --app-sidebar-link-active-bg-color: rgba(0, 0, 0, 0.05);
  --app-header-bg-color: #{$white};
  --app-header-text-color: #{$dark};
  --app-header-border-color: #{$border-color};
}

@media (prefers-color-scheme: light) {
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-primary-color: #{lighten($primary, 20)};
    --app-sidebar-bg-color: #{$dark};
    --app-sidebar-text-color: #{$light};
    --app-sidebar-border-color: #{lighten($dark, 20)};
    --app-sidebar-card-bg-color: #{lighten($dark, 10)};
    --app-sidebar-link-hover-bg-color: rgba(255, 255, 255, 0.025);
    --app-sidebar-link-active-bg-color: rgba(255, 255, 255, 0.05);
    --app-header-bg-color: #{$white};
    --app-header-text-color: #{$dark};
    --app-header-border-color: #{$border-color};
  }
}

/* Global */

::-moz-selection {
  background-color: lighten($primary, 10);
  color: $white;
}

::selection {
  background-color: lighten($primary, 10);
  color: $white;
}

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  background: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $tertiary;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

html, body, app-root {
  display: flex;
  height: 100%;
  width: 100%;
}

a, button, .btn {
  cursor: pointer;
}

.bg-special {
  background: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}

.item-icon {
  position: relative;
  border-radius: $border-radius;
  flex-basis: 48px;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;

  > .icon-badge {
    position: absolute;
    font-size: 0.7rem;
    top: -6px;
    left: -6px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    place-items: center;
    opacity: 0;
  }

  &:hover {
    > .icon-badge {
      opacity: 1;
    }
  }
}

.item-icon-action {
  &:hover,
  &:focus {
    .icon-badge {
      opacity: 1;
    }
  }
}

.item-icon-wrapper {
  &.card {
    border: $border-width solid $border-color;
  }

  > div {
    border-width: 0 !important;

    &:not(.no-action) {
      cursor: default;
    }

    .edit {
      display: none;
      background: rgba($secondary, 0.15);
      color: $info;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: rgba($secondary, 0.25);
      }
    }

    &:hover:not(.no-edit) {
      .item-icon {
        display: none;
      }

      .edit {
        display: flex;
      }
    }
  }
}

.popover-content {
  width: 180px;
}

.modal {
  .modal-content {
    box-shadow: 0 0 0 100000px rgba(black, 0.5);
  }

  .modal-header,
  .modal-footer {
    background: $light;
    display: flex;
    align-items: center;

    &.modal-header {
      font-weight: bold;

      > button > fa-icon {
        color: $secondary;
      }
    }
  }
}

.chart-wrapper {
  display: grid;
  height: 300px;
}

.input-group {
  flex-wrap: unset !important;

  > .input-group-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: $input-height;
    padding: 0;

    > span,
    > fa-icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  > app-select,
  > app-select-color {
    width: calc(100% - 44px);
  }
}

.form-group {
  margin-bottom: map_get($spacers, 3);

  > label {
    @extend .text-uppercase;
    @extend .small;
    @extend .fw-bold;
    color: $secondary;
    margin-bottom: map_get($spacers, 2);
  }

  .invalid-tooltip {
    right: 0;
  }

  [readonly] {
    cursor: not-allowed;
  }
}

.oy-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: map_get($grid-breakpoints, xl)) {
  .oy-scroll {
    overflow-y: unset !important;
    height: unset !important;
    min-height: unset !important;
    max-height: unset !important;
  }
}

.modal {
  > .modal-dialog {
    > .modal-content > * {
      > .modal-header {
        color: white;
        background: $primary;
      }

      > .modal-footer {
        @extend .border-top;
        margin-top: -1px;
      }
    }
  }
}

@media screen and (max-width: map_get($grid-breakpoints, lg)) {
  .modal {
    > .modal-dialog {
      max-width: 100%;
      height: 100%;
      margin: 0;
      display: flex;

      > .modal-content {
        background: rgba(black, 0.5);
        pointer-events: none;

        > * {
          pointer-events: all;
          margin-top: auto;
          max-height: calc(100% - 2rem);
          overflow: hidden;
          display: flex;
          flex-direction: column;

          > div {
            width: 100%;
            flex-shrink: 0;
          }

          > .modal-header {
            border-radius: 1rem 1rem 0 0;
            position: sticky;
            top: 0;
            z-index: 10;
          }

          > .modal-body {
            flex-shrink: unset;
            overflow: auto;
            background: white;
            padding-bottom: 1px !important;
          }

          > .modal-footer {
            border-radius: 0 !important;
          }
        }
      }
    }
  }
}

.card {
  > .card-header {
    display: flex;
    align-items: center;
    background: transparent;
    color: $dark;
    font-weight: $font-weight-bold;
    padding-left: 0;
    padding-right: 0;
  }

  > .card-body,
  > .card-footer {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    position: relative;
  }

  > .card-footer {
    background: white;
    margin-top: -$border-radius;
    z-index: 1;
    padding-top: $card-spacer-y + $border-radius;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.form-check {
  height: unset !important;

  .form-check-input {
    width: 2.3rem;
    height: 1.2rem;
  }

  .form-check-label {
    padding-left: map_get($spacers, 2);
  }
}

.table {
  > thead {
    > tr {
      > th {
        border-top: none;
      }
    }
  }
}

.pointer-events-none {
  pointer-events: none;
}

.input-group {
  > .input-group-text {
    > .input-group-text {
      display: flex;
      align-items: center;
    }
  }
}

.form-check,
.form-select,
.form-control {
  display: flex;
  align-items: center;

  &:not(textarea) {
    height: $input-height;
  }

  &textarea {
    min-height: $input-height;
  }
}

select.no-style {
  padding: 0;
  background: none;
  border: none;
}

.text-pre {
  white-space: pre-line;
  word-break: break-word;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1070;
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1070;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1070;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.icon-prefix {
  margin-right: 8px;
  position: relative;
  top: -6px;
}

.label2{
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 0.875em;
  display: inline-block;
  color: #808e9b;
  margin-bottom: 0.5rem;
}
