@import url("https://fonts.googleapis.com/css2?family=Gudea:wght@400;700&display=swap");

@import "./variables";

@import "~bootstrap/scss/bootstrap";
@import "src/assets/icon/style";

::-moz-selection {
  background-color: $primary;
  color: $white;
}

::selection {
  background-color: $primary;
  color: $white;
}

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
  background: transparent;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $tertiary;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  background: transparent;
}

html, body, app-root {
  display: flex;
  height: 100%;
  width: 100%;
}

a, button, .btn {
  cursor: pointer;
}

.bg-special {
  background: #833ab4;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}

.item-icon {
  position: relative;
  border-radius: $border-radius;
  flex-basis: 48px;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;

  > .icon-badge {
    position: absolute;
    font-size: 0.7rem;
    top: -6px;
    left: -6px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    place-items: center;
    opacity: 0;
  }

  &:hover {
    > .icon-badge {
      opacity: 1;
    }
  }
}

.item-icon-action {
  &:hover,
  &:focus {
    .icon-badge {
      opacity: 1;
    }
  }
}

.item-icon-wrapper {
  &:hover,
  &:focus {
    background: #fff;
    box-shadow: 0 0 0 5px #fff;
    border-radius: 4px;
    cursor: pointer;

    &:active {
      background: none;
      box-shadow: none;
    }
  }

  > div {
    cursor: unset;

    .edit {
      display: none;
      background: rgba($secondary, 0.15);
      color: $info;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: rgba($secondary, 0.25);
      }
    }

    &:hover:not(.no-edit) {
      .item-icon {
        display: none;
      }

      .edit {
        display: flex;
      }
    }
  }
}

.popover-content {
  width: 180px;
}

.modal {
  .modal-header,
  .modal-footer {
    background: $light;
    display: flex;
    align-items: center;

    &.modal-header {
      font-weight: bold;

      > button > fa-icon {
        color: $secondary;
      }
    }
  }

  .modal-body {
    label {
      @extend .text-uppercase;
      @extend .small;
      @extend .font-weight-bold;
      @extend .text-secondary;
    }
  }
}

.chart-wrapper {
  display: grid;
  height: 300px;
}

.input-group {
  > .input-group-prepend {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    > span,
    > fa-icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  > app-select,
  > app-select-color {
    width: calc(100% - 44px);
  }
}

.form-group {
  .invalid-tooltip {
    right: 0;
  }

  [readonly] {
    cursor: not-allowed;
  }
}

.oy-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: map_get($grid-breakpoints, xl)) {
  .oy-scroll {
    overflow-y: unset !important;
    height: unset !important;
    min-height: unset !important;
    max-height: unset !important;
  }
}

.modal {
  > .modal-dialog {
    > .modal-content > * {
      > .modal-header {
        @extend .bg-primary;
        @extend .text-white;

        button {
          @extend .btn-primary;
        }
      }

      > .modal-footer {
        @extend .border-top;
        margin-top: -1px;
      }
    }
  }
}

@media screen and (max-width: map_get($grid-breakpoints, lg)) {
  .modal {
    > .modal-dialog {
      max-width: 100%;
      height: 100%;
      margin: 0;

      > .modal-content > * {
        > .modal-header {
          border-radius: 0 !important;
        }

        > .modal-body {
          height: calc(100vh - 140px);
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
        }

        > .modal-footer {
          border-radius: 0 !important;
        }
      }
    }
  }
}

.card {
  > .card-header {
    display: flex;
    align-items: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.custom-checkbox {
  .custom-control-label::before {
    border: 1px solid $primary;
  }
}

.table {
  > thead {
    > tr {
      > th {
        border-top: none;
      }
    }
  }
}

.pointer-events-none {
  pointer-events: none;
}

.input-group {
  > .input-group-prepend {
    > .input-group-text {
      display: flex;
      align-items: center;
    }
  }
}

.custom-select,
.form-control {
  display: flex;
  align-items: center;
}

