/* Custom variables */

$sidebar-color: #F9FAFC;
$sidebar-width: 350px;
$sidebar-mobile-width: 250px;
$header-height: 90px;
$scrollbar-size: 6px;

/* Bootstrap variables override */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px + 200px
);

$primary: #474787;
$secondary: #808e9b;
$info: #0fbcf9;
$success: #0be881;
$danger: #ff5252;
$warning: #ffa801;
$dark: #1e272e;
$light: $sidebar-color;
$tertiary: lighten($secondary, 35);

$theme-colors: (
  "tertiary": $tertiary
);

$font-family-base: "Gudea", "Roboto", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$body-bg: white;
$body-color: $dark;

$input-bg: $light;
$input-border-width: 0;
$input-height: 45px;

$card-border-width: 0;

$popover-body-padding-x: 15px;
$popover-body-padding-y: 15px;
$popover-max-width: 250px;
$popover-border-radius: 0;

$modal-content-border-width: 0;
$modal-backdrop-bg: $secondary;

$link-hover-decoration: none;

$badge-font-size: 100%;
$badge-font-weight: normal;

/* Icons variables override */

$icomoon-font-path: '/assets/icon/fonts';

/* Bootstrap variables */

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
