/* Custom variables */

$sidebar-width: 350px;
$sidebar-mobile-width: 250px;
$header-height: 90px;
$scrollbar-size: 6px;

/* Bootstrap variables override */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px + 200px
);

$primary: #474787;
$secondary: #808e9b;
$info: #0fbcf9;
$success: #0be881;
$danger: #ff5252;
$warning: #ffa801;
$dark: #1e272e;
$light: #F9FAFC;
$tertiary: lighten($secondary, 35);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "tertiary": $tertiary,
);

$font-family-base: "Gudea", "Roboto", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$body-bg: #fff;
$body-color: $dark;

$input-bg: $light;
$input-border-width: 0;
$input-height: 45px;

$card-bg: transparent;
$card-border-width: 0;

$popover-body-padding-x: 15px;
$popover-body-padding-y: 15px;
$popover-max-width: 250px;
$popover-border-radius: 0;

$modal-content-border-width: 0;
$modal-backdrop-opacity: 0;
$modal-fade-transform: translate(0, 25%);

$link-hover-decoration: none;
$link-decoration: none;

$dropdown-item-padding-y: 0.75rem;

$table-cell-padding-y: 0.75rem;

$min-contrast-ratio: 2;

/* Icons variables override */

$icomoon-font-path: "/assets/icon/fonts";

/* Bootstrap variables */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
