<div>
  <div class="container pt-3">

    <!-- Header -->
    <div class="d-flex align-items-center mb-3">

      <!-- Title -->
      <p class="fw-bold mb-0">Export Transactions</p>

      <!-- Info -->
      <div class="ms-auto badge bg-info badge-pill px-3"
           title="Number of transactions by your selected filters and dates.">
        <b>{{ count >= 0 ? (count | number) : '...' }}</b> Selected
      </div>
    </div>

    <!-- Cards -->
    <div class="row">

      <!-- Filters -->
      <div class="col-lg-4">
        <div class="fw mt-2 mb-2">Select Filters</div>
        <mat-card class="h-100">
          <mat-card-subtitle>Filter what transactions you want to include for exporting.</mat-card-subtitle>
          <app-filters (update)="filtersSelected = $event; load()" [filters]="filters"></app-filters>
          <button mat-button (click)="filtersSelected = {}; load()" class="w-100 mt-3">
            Clear Filters
          </button>
        </mat-card>
      </div>

      <!-- Date -->
      <div class="col-lg-4">
        <div class="fw mt-2 mb-2">Select Date Range</div>
        <mat-card class="h-100 ">
          <mat-card-subtitle>Include transactions between specific dates. Dates are ignored if they are not set.</mat-card-subtitle>
          <label class="label2 d-flex">From</label>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Select Date</mat-label>
            <input matInput (change)="load()" [(ngModel)]="from" id="from" type="date">
          </mat-form-field>
          <label class="label2 d-flex">To</label>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Select Date</mat-label>
            <input matInput (change)="load()" [(ngModel)]="to" id="to" type="date">
          </mat-form-field>

          <button mat-button
                  (click)="from = null; to = null; load()"
                  [disabled]="!from && !to"
                  class="w-100">
            Clear Dates
          </button>
        </mat-card>
      </div>

      <!-- Export -->
      <div class="col-lg-4">
        <div class="fw mb-2 mt-2">Select Export Type</div>
        <mat-card class="h-100">
          <mat-card-subtitle>Select what kind of file you want to export your transactions to.</mat-card-subtitle>
          <button mat-flat-button (click)="submit(option)"
                  *ngFor="let option of options; let first = first"
                  [class.mt-2]="!first"
                  class="w-100"
                  color="primary">
            {{ option.label }}
          </button>
          <hr>
          <button mat-flat-button class="btn btn-dark w-100" routerLink="../pages">Mange Public Pages</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>


