@use "@angular/material" as mat;
@import "src/variables";

:host ::ng-deep {
  app-filters {
    .filters {
      display: block;

      > .filter {
        margin-bottom: map_get($spacers, 2);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.mat-card:hover {
  @include mat.elevation(8, $opacity: 0.5);
}
