<div class="container mb-4">
  <div class="row">
    <div class="col-xl-4" *ngFor="let wallet of wallets">
      <div class="card bg-light mt-4">
        <div class="card-header font-weight-bold">
          <!-- Name -->
          <span>{{ wallet.name }}</span>
          <!-- Edit -->
          <a class="ml-auto text-secondary" (click)="editWallet(wallet)">
            <fa-icon [fixedWidth]="true" [icon]="faEdit"></fa-icon>
          </a>
        </div>
        <div class="card-body">
          <span>Balance</span>
          <span class="float-right">
            <span title="Expense" class="text-danger">{{ wallet.balance.expense | currency }}</span>
            <span title="Income" class="mx-3">{{ wallet.balance.income | currency }}</span>
            <span title="Total" class="text-secondary">{{ wallet.balance.total | currency }}</span>
          </span>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card bg-light mt-4" [style.height]="'112px'">
        <div class="card-body d-flex align-items-center justify-content-center">
          <div class="btn btn-light font-weight-bold" (click)="addWallet()">ADD WALLET</div>
        </div>
      </div>
    </div>
  </div>
</div>
