<div class="container mt-4">

  <p class="font-weight-bold">My Wallets</p>

  <div class="row" *ngIf="wallets && profiles">
    <div class="col-xl-3 col-lg-4">
      <div class="card" [ngStyle]="style(colorsReserved.wallets)">
        <div class="card-body d-flex align-items-center">
          <div class="item-icon">
            <fa-icon [icon]="faWallets"></fa-icon>
          </div>
          <div class="ml-3 font-weight-bold">
            <div>Total</div>
            <div class="text-dark">${{ profiles[0].balance | number:'0.0-2' }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4" *ngFor="let wallet of wallets; let last = last" [class.mb-3]="!last">
      <div class="card" [ngStyle]="style(wallet.color)">
        <div class="card-body d-flex align-items-center">
          <div class="item-icon">
            <i class="icon-{{ wallet.icon }}"></i>
          </div>
          <div class="ml-3 font-weight-bold">
            <div>{{ wallet.name }}</div>
            <div class="text-dark">${{ wallet.balance | number:'0.0-2' }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="font-weight-bold mt-3">My Categories</p>

  <div class="row">
    <div class="col-xl-3 col-lg-4" *ngFor="let category of categories; let last = last" [class.mb-3]="!last">
      <div class="d-flex align-items-center item-icon-action">
        <div class="item-icon" [ngStyle]="style(category.color)">
          <i class="icon-{{ category.icon }}"></i>
        </div>
        <div class="ml-3">
          <div>{{ category.name }}</div>
          <div class="small text-muted">{{ category.transactions_count }} Transactions</div>
        </div>
      </div>
    </div>
  </div>
</div>
