<div class="container mt-4">
  <div class="row">

    <!-- Left -->
    <div class="col-lg-8 mb-3">

      <!-- My wallets -->
      <p class="font-weight-bold">My Wallets</p>

      <!-- Wallets -->
      <div class="row" *ngIf="wallets && profiles">
        <div class="col-lg-4">
          <div class="card" [ngStyle]="style(colorsReserved.wallets)">
            <div class="card-body d-flex align-items-center">
              <div class="item-icon">
                <fa-icon [icon]="faWallets"></fa-icon>
              </div>
              <div class="ml-3 font-weight-bold">
                <div>Total</div>
                <div class="text-dark">${{ profiles[0].balance | number:'0.0-2' }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4" *ngFor="let wallet of wallets; let last = last" [class.mb-3]="!last">
          <div class="card" [ngStyle]="style(wallet.color)">
            <div class="card-body d-flex align-items-center">
              <div class="item-icon">
                <i class="icon-{{ wallet.icon }}"></i>
              </div>
              <div class="ml-3 font-weight-bold">
                <div>{{ wallet.name }}</div>
                <div class="text-dark">${{ wallet.balance | number:'0.0-2' }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- My categories -->
      <p class="font-weight-bold mt-3">My Categories</p>

      <!-- Categories -->
      <div class="row">
        <div class="col-lg-3" *ngFor="let category of categories; let last = last" [class.mb-3]="!last">
          <div class="d-flex align-items-center item-icon-action">
            <div class="item-icon" [ngStyle]="style(category.color)">
              <i class="icon-{{ category.icon }}"></i>
            </div>
            <div class="ml-3">
              <div>{{ category.name }}</div>
              <div class="small text-muted">{{ category.transactions_count }} Transactions</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Right -->
    <div class="col-lg-4 mb-3">

      <!-- My transactions -->
      <p class="font-weight-bold mt-3">My Transactions</p>

      <!-- Transaction groups -->
      <div *ngFor="let transactionGroup of transactionsGroups | keyvalue">

        <!-- Date -->
        <div class="mt-4 d-flex align-items-center text-secondary border-bottom pb-2">
          <h3 class="mb-0 mr-2 text-dark">{{ transactionGroup.key | date:'d' }}</h3>
          <div class="small">
            <div>{{ transactionGroup.key | date:'EEEE' }}</div>
            <div>{{ transactionGroup.key | date:'MMM yyyy' }}</div>
          </div>
          <div class="ml-auto mt-auto small">{{ transactionGroup.value.length }} Transactions</div>
        </div>

        <!-- Transactions -->
        <div class="d-flex align-items-center mt-3 item-icon-wrapper"
             *ngFor="let transaction of transactionGroup.value">
          <!-- Icon and wallet -->
          <div class="item-icon" [ngStyle]="style(getCategory(transaction.category).color)">
            <i class="icon-{{ getCategory(transaction.category).icon }}"></i>
            <i class="icon-{{ getWallet(transaction.wallet).icon }} icon-badge"
               [title]="getWallet(transaction.wallet).name"
               [style.background]="getWallet(transaction.wallet).color"></i>
          </div>
          <!-- Name and time -->
          <div class="ml-3">
            <div>{{ getCategory(transaction.category).name }}</div>
            <div class="small text-muted">{{ transaction.created | date:'hh:mm aa' }}</div>
          </div>
          <!-- Amount and (to wallet) -->
          <div class="ml-auto font-weight-bold"
               [class.text-secondary]="transaction.kind === expenseKind.TRANSFER"
               [class.text-danger]="transaction.kind === expenseKind.EXPENSE">
            <div class="text-right">${{ transaction.amount | number:'0.0-2' }}</div>
            <div class="small" *ngIf="transaction.kind === expenseKind.TRANSFER">
              +{{ getWallet(transaction.into).name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
