<div class="row">
  <div [classList]="columnClass" *ngFor="let event of events">
    <div class="mt-3 card item-icon-wrapper" [ngStyle]="style(event.color)">
      <div class="card-body d-flex align-items-center">
        <div class="item-icon">
          <i class="icon-{{ event.icon }}"></i>
        </div>
        <div class="item-icon edit" (click)="editEvent(event)" title="Edit event">
          <fa-icon [fixedWidth]="true" [icon]="faEdit"></fa-icon>
        </div>
        <a class="ps-3 w-100" title="View event"
           [routerLink]="['/dash', 'event', event.id]">
          <div class="fw-bold" [style.color]="event.color">{{ event.name }}</div>
          <div class="small text-dark">{{ event.budget | profileCurrency }}</div>
        </a>
      </div>
    </div>
  </div>
</div>
