<!-- Form -->
<form [formGroup]="form.form" (ngSubmit)="submit()">

  <!-- Title -->
  <p class="font-weight-bold text-center mb-5">
    Join <span class="text-primary">Expensephere</span> 💖
  </p>

  <!-- Email -->
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email"
           formControlName="email" [class.is-invalid]="form.error.email">
    <p class="small text-danger" *ngIf="form.error.email">{{ form.error.email[0] }}</p>
  </div>

  <!-- Username -->
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Username"
           formControlName="username" [class.is-invalid]="form.error.username">
    <p class="small text-danger" *ngIf="form.error.username">{{ form.error.username[0] }}</p>
  </div>

  <!-- Password -->
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" autocomplete="password"
           formControlName="password" [class.is-invalid]="form.error.username">
    <p class="small text-danger" *ngIf="form.error.password">{{ form.error.password[0] }}</p>
  </div>

  <!-- Error -->
  <p class="text-danger" *ngIf="form.error.non_field_errors">{{ form.error.non_field_errors[0] }}</p>

  <!-- Button -->
  <button class="btn btn-block btn-primary" [disabled]="form.loading">Register</button>

  <!-- Login link -->
  <a class="btn btn-block btn-link" routerLink="../sign-in">Already have an account?</a>
</form>
