<!-- Filters -->
<div class="bg-tertiary py-3">
  <div class="container">
    <app-filters [filters]="filters" (update)="params = $event; load()"></app-filters>
  </div>
</div>

<!-- Content -->
<div class="container">

  <!-- Loading -->
  <app-loading classes="my-3" *ngIf="!invoices"></app-loading>

  <!-- No data -->
  <app-no-data classes="my-3" *ngIf="invoices && !invoices.length"></app-no-data>

  <!-- Data -->
  <div class="table-responsive mt-3" *ngIf="invoices?.length">
    <table class="table table-borderless table-striped">
      <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Client</th>
        <th class="text-end">Total</th>
        <th class="text-center">Paid</th>
        <th class="text-center">Public</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let invoice of invoices">
        <td><a [routerLink]="['..', invoice.id]" class="text-monospace">{{ invoice.invoice_id }}</a></td>
        <td [title]="invoice.client">{{ invoice.client | truncate:40 }}</td>
        <td class="text-end" [title]="invoice.currency">{{ invoice.total | profileCurrency:invoice.currency }}</td>
        <td class="text-center">
          <fa-icon [fixedWidth]="true"
                   *ngIf="invoice.is_paid !== null"
                   [class.text-success]="invoice.is_paid"
                   [class.text-muted]="!invoice.is_paid"
                   [icon]="invoice.is_paid ? faYes : faNo">
          </fa-icon>
        </td>
        <td class="text-center">
          <fa-icon [fixedWidth]="true"
                   [class.text-success]="invoice.is_published"
                   [class.text-muted]="!invoice.is_published"
                   [icon]="invoice.is_published ? faYes : faNo">
          </fa-icon>
        </td>
        <td class="text-end">
          <a [routerLink]="['/public/invoice', invoice.id]" target="_blank" class="me-2">
            <fa-icon [fixedWidth]="true" [icon]="faView"></fa-icon>
          </a>
          <a [routerLink]="['..', invoice.id]">
            <fa-icon [fixedWidth]="true" [icon]="faEdit"></fa-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
